
{% extends "base.html" %}
{% load timeline_tags %}
{% block body %}
    <h1>TimePhases of TimeSlot {{ ts }}</h1>
    <h3>{{ ts.Begin }} - {{ ts.End }}</h3>
    <p>
    Note that all dates are inclusive. The end day of a timephase should be at least one day before the start day of the next timephase. If phases overlap, the one with oldest begin day is taken.
    </p>
    {% if ts == cur %}
    <p>This is the active time slot. The current time phase is {% get_timephase_number %}: {% get_timephase %}</p>
    {% endif %}
    <a href="{% url "timeline:list_timeslots" %}" class="button primary">Back to list time slots</a>
    <a href="{% url "timeline:add_timephase" ts.pk %}" class="button primary">Add time phase</a>
    <table class="table bordered hovered striped datatable">
        <thead>
        <tr>
            <th>Description</th>
            <th>Begin</th>
            <th>End</th>
            <th>Countdown End</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for p in ph %}
            <tr>
                <td>{{ p.Description }}: {{ p.get_Description_display }}</td>
                <td data-sort="{{ p.Begin|date:'U' }}">{{ p.Begin }}</td>
                <td data-sort="{{ p.End|date:'U' }}">{{ p.End }}</td>
                <td data-sort="{{ p.CountdownEnd|date:"U" }}">{{ p.CountdownEnd }}</td>
                <td>
                    {% if p.End >= now %}<a href="{% url 'timeline:edit_timephase' p.pk %}" class="button primary">Edit</a>{% endif %}
                    {% if p.End >= now %}<a href="{% url 'timeline:delete_timephase' p.pk %}" class="button warning">Delete</a>{% endif %}
                    {% if user.is_superuser %}<a href="{% url 'admin:timeline_timephase_change' p.pk %}" class="button warning">Admin edit</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
           $('.datatable').dt_wrapper();
        });
    </script>
{% endblock %}
