{% extends "base.html" %}
{% load static %}
{% block body %}

    <div class="grid">
        <div class="row cells4">
            <div class="cell" style="text-align: center">
                <object data="{% static "img/tuelogo.svg" %}" type="image/svg+xml" style="width:50%;"></object>
                <img src="{% static "img/kolibrilogo.png" %}" alt="Kolibri Solutions Logo" title="Kolibri Solutions Logo">
            </div>
            <div class="cell colspan3">
                <h1>About</h1>
                <p>
                    This website is made by Kolibri Solutions: Frank Boerman and Jeroen van Oorschot.<br />
                    Commissioned by <a href="https://www.tue.nl/en/university/departments/electrical-engineering/"> Department of Electrical Engineering at TU/e</a>
                </p>
                <p><ul>
                    <li><a href="https://kolibrisolutions.nl" title="Kolibri Solutions">Kolibri Solutions</a></li>
                    <li><a href="https://github.com/kolibrisolutions" title="Kolibri Solutions Github"><span class="mif-github"></span> GitHub</a></li>
                </ul>
                </p>
                <p>
                    <a href="http://www.djangoproject.com/">
                        <img src="{% static "img/djangopowered126x54.gif" %}"
                            alt="Powered by Django." title="Powered by Django."/></a>

                </p>
                <div>
                And:
                    <ul>
                        <li><a href="https://jquery.com/" title="jQuery">jQuery</a></li>
                        <li><a href="https://metroui.org.ua/" title="MetroUI CSS">MetroUI CSS</a></li>
                        <li><a href="https://datatables.net/" title="Datatables">Datatables</a></li>
                        <li><a href="https://select2.org" title="Select2">Select2</a></li>
                        <li><a href="https://github.com/avianey/jqDoubleScroll" title="DoubleScroll">DoubleScroll</a></li>
                        <li><a href="http://lokeshdhakar.com/projects/lightbox2/" title="LightBox">LigthBox</a></li>
                        <li><a href="https://github.com/vedmack/yadcf" title="YADCF">Yet Another DataTables Column Filter - (yadcf)</a></li>
                        <li><a href="https://fullcalendar.io/" title="FullCalendar">FullCalendar</a></li>
                        <li><a href="http://www.chartjs.org/">ChartJs</a> </li>
                        <li>..</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
