{% extends "base.html" %}
{% block body %}
    <h1>Feedback Reports</h1>
    <table class="table striped hovered datatable">
        <thead>
        <tr>
            <th>TimeStamp</th>
            <th>Reporter</th>
            <th>Url</th>
            <th data-sortable="false">Feedback</th>
            <th>Status</th>
            <th data-searchable="false" data-sortable="false">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for report in feedback_list %}
            <tr>
                <td data-sort="{{ report.Timestamp|date:"U" }}">{{ report.Timestamp }}</td>
                <td>{{ report.Reporter.usermeta.get_nice_name }}</td>
                <td>{{ report.Url }}</td>
                <td>{{ report.Feedback }}</td>
                <td>{{ report.get_Status_display }}</td>
                <td>
                    {% if report.Status != 2 %}
                        <a href="{% url 'index:confirm_feedback' report.id %}">
                            <button class="button info">Confirm</button>
                        </a><br/>
                    {% endif %}
                    <a href="{% url 'index:close_feedback' report.id %}">
                        <button class="button success">Close</button>
                    </a><br/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            var dt = $('.datatable').dt_wrapper();
        });
    </script>
{% endblock %}
