{% extends "base.html" %}
{% load index_tags %}
{% block body %}
    <h1>Profile</h1>
    <a href="{% url 'index:changesettings' %}" class="button primary">User Settings</a>
    {% if user|has_group:"any" %}
        {% if user.is_superuser %}
            <!-- saml does not support 2fa-->
            <a class="button success" href="{% url 'two_factor:profile' %}">Account Security Settings</a>
        {% endif %}
        {% if user|has_group:"type2staffunverified" and not user.is_superuser %}
            <p><strong>
                You have an unverified type2staff account.<br/>
                Your type2staff account will be verified by the supportstaff or when a proposals made by you is approved
                by the type1staff (Responsible professor).
                This unverified status has no further implications.
            </strong></p>
        {% endif %}
    {% endif %}


    <h4>Personal</h4>
    <table class="table striped">
        <tr>
            <td>Username:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>First and last name:</td>
            <td>{{ meta.get_nice_name }}</td>
        </tr>
        <tr>
            <td>Initials:</td>
            <td>{{ meta.Initials }}</td>
        </tr>
        <tr>
            <td>Full name:</td>
            <td>{{ meta.get_nice_fullname }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    <h4>User settings</h4>
    <table class="table striped">
        <tr>
            <td>Suppress action required mails:</td>
            <td><span class="mif-{{ SuppressStatusMails|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
        </tr>
    </table>

    {% if not student %}
        <h4>Permissions</h4>
        <table class="table striped">
            <tr>
                <td>User can be responsible for a project (type 1):</td>
                <td><span class="mif-{{ type1|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            <tr>
                <td>User can be assistant (type 2):</td>
                <td>
                    <span class="mif-{{ type2|yesno:"checkmark fg-green,cross fg-red" }}"></span>
                    {% if type2 == "Unverified" %}
                        (Unverified assistant)
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>User is supporting staff (type 3):</td>
                <td><span class="mif-{{ type3|yesno:"checkmark fg-green,cross fg-red" }}"></span>

                </td>
            </tr>
            <tr>
                <td>User is study advisor (type 5):</td>
                <td><span class="mif-{{ type5|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            <tr>
                <td>User is professional skills administration (type 6):</td>
                <td><span class="mif-{{ type6|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            {% if tracks %}
                <tr>
                    <td>User is head of track:</td>
                    <td>
                        <ul>
                            {% for track in tracks %}
                                <li>{{ track }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if user.is_staff %}
                <tr>
                        <td>User is Staff (allowed to impersonate other users):</td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
            {% endif %}
            {% if user.is_superuser %}
                <tr>
                    <td>User is Admin/Superuser:</td>
                    <td><span class="mif-checkmark fg-green"></span></td>
                </tr>
            {% endif %}
            {% if user.administratoredgroups.exists %}
                <tr>
                    <td>User is administrator of groups:</td>
                    <td>
                        <ul>
                            {% for group in user.administratoredgroups.all %}
                                <li>
                                    {{ group.Group.ShortName }}
                                    ({% if group.Super %}Read and write access{% else %}Read only access{% endif %})
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        </table>

    {% else %}

        <h4>Student Information</h4>
        <table class="table striped">
{#            <tr>#}
{#                <td>Department</td>#}
{#                <td>{{ meta.Department }}</td>#}
{#            </tr>#}
            <tr>
                <td>Study</td>
                <td>{{ meta.Study|default:'Not yet known' }}</td>
            </tr>
            <tr>
                <td>Cohort</td>
                <td>{{ meta.Cohort|default:'Not yet known' }}</td>
            </tr>
            <tr>
                <td>Studentnumber</td>
                <td>{{ meta.Studentnumber }}</td>
            </tr>
            <tr>
                <td>ECTS</td>
                <td>{% if meta.ECTS == 0 %}Not yet available{% else %}{{ meta.ECTS }}{% endif %}</td>
            </tr>
            <tr>
                <td>Enrolled BEP (10 ECTS)</td>
                <td><span class="mif-{{ meta.EnrolledBEP|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            <tr>
                <td>Enrolled BEP extension (+5 ECTS)</td>
                <td><span class="mif-{{ meta.EnrolledExt|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            <tr>
                <td>Active in time slots</td>
                <td><ul>{{ meta.TimeSlot.all|unordered_list|default:'None yet' }}</ul></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
