{% extends "base.html" %}
{% load custom_filters %}
{% block body %}
    {% if view_user == user %}
        <h1>User info</h1>
        <a href="{% url 'index:profile' %}" class="button primary">User Profile</a>
        <a href="{% url 'index:changesettings' %}" class="button primary">User Settings</a>
    {% else %}
        <h1>Info of {{ view_user.usermeta.get_nice_name }}</h1>
    {% endif %}
    <h2>User</h2>
    <table class="table bordered">
        {% for row in user_model %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>User Meta</h2>
    <table class="table bordered">

        {% for row in usermeta_model %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Related models</h2>
    <table class="table bordered">
        {% for row in related %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>
                    <ul>{{ row.1|unordered_list }}</ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2>Distribution related models</h2>
    <table class="table bordered">
        {% for row in distribution %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>
                    <ul>{{ row.1|unordered_list }}</ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2>Info as JSON:</h2>
    <textarea title="json">
        {{ json }}
    </textarea>
{% endblock %}
