{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static "/favicon.ico" %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEP Marketplace</title>
        <link href="{% static "css/metro.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-icons.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-responsive.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-schemes.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    {# This conditional comment is support until IE9. Newer IE won't see it. #}
    <!--[if IE]>
        <div style="background: #e00; text-align: center; position: absolute; top: 5em; height:7em; left:20%; right:20%; color: #FFF; z-index:1000; padding: 5px;">
        <b>Your browser is not compatible with this website. Please update your browser or use another browser.</b>
        </div>
        <![endif]-->
        <div class="app-bar" data-role="appbar">
            <div class="app-bar-element branding">BEP Marketplace</div>
            <ul class="app-bar-menu">
                <li><a href="/"><span class="mif-home icon"></span>Home</a></li>
                <li><a href="{% url 'index:about' %}"><span class="mif-info icon"></span>About</a></li>
            </ul>
            <div class="app-bar-pullbutton automatic"></div>
            <ul class="app-bar-menu place-right" data-flexdirection="reverse">
            </ul>
        </div>
    <div id="content">
        <div class="grid">
            <div class="row cells5">
            </div>
            <div class="row cells5">
                <div class="cell colspan4" id="cellContent">
                        <div class="grid">
                            <div class="row cells4">
                                <div class="cell" style="text-align: center" id="cellLogos">
                                    <object data="{% static "img/tuelogo.svg" %}" type="image/svg+xml"
                                            style="width:50%;"></object>
                                    <br><br>
                                </div>
                                <div class="cell colspan3">
                                    The CSRF verification failed. This can happen because you used an old (cached)
                                    version of this page, or if you have disabled cookies.
                                    <br/>
                                    It is usually fixed by reloading the page (f5 or ctrl+f5) or by restarting your
                                    internet browser. If the problem persists please contact the support staff.
                                </div>
                            </div>
                        </div>
                </div>
                <div class="cell" id="cellSidebar">
                </div>
            </div>
            <div class="row cells5">
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="place-left">
    </div>
    <div class="place-right text-small">
        <div class="cell place-left padding10" onclick="roll('li')">By: Frank Boerman & Jeroen van Oorschot 2016-2018
        </div>
    </div>
</div>
</body>
</html>
