{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static "/favicon.ico" %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
    <link href="{% static "css/metro.min.css" %}" rel="stylesheet">
    <link href="{% static "css/metro-icons.min.css" %}" rel="stylesheet">
    <link href="{% static "css/metro-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/metro-schemes.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div class="app-bar" data-role="appbar">
        <ul class="app-bar-menu">
            <li><a href="/"><span class="mif-home icon"></span>Home</a></li>
        </ul>
    </div>
    <div id="content">
        <p>
            Something went wrong in the server.
            The development team has been automatically notified.
            <br/>
            Please help them by sending an email to the support staff or to 'errors@kolibrisolutions.nl' with more information what you were trying to do. <br/>
            Thanks in advance!
        </p>
        <a href="javascript:history.back()" class="button primary">Return to the previous page</a>
    </div>
</div>
<div id="footer">
    <div class="place-right text-small">
        <div class="cell place-left padding10"><a href="{% url 'index:about' %}" title="Kolibri Solutions" class="fg-black">By Kolibri Solutions 2016-2020</a></div>
    </div>
</div>
</body>
</html>
