{% load static %}
{% load custom_filters %}
{% load timeline_tags %}
{% load index_tags %}
{% load proposal_tags %}
{% load presentations_tags %}
{% load students_tags %}

{% get_timephase_number as phasenumber %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="TU/e {{ NAME }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {# fix for IE for intranet compatibility #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "/favicon.ico" %}"/>

    <title>{{ NAME }}</title>
    {% block head %}
        <link href="{% static "css/metro.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-icons.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-responsive.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-schemes.min.css" %}" rel="stylesheet">
        <link href="{% static "css/metro-colors.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    {% endblock %}
</head>
<body {% block bodytag %}  {% endblock %}>
<div id="wrapper">
    {# This conditional comment is support until IE9. Newer IE won't see it. #}
    <!--[if IE]>
        <div style="background: #e00; text-align: center; position: absolute; top: 5em; height:7em; left:20%; right:20%; color: #FFF; z-index:1000; padding: 5px;">
        <b>Your browser is not compatible with this website. Please update your browser or use another browser.</b>
        </div>
    <![endif]-->

    <noscript>
        <div class="warning-banner">
            Your JavaScript is disabled. This website uses JavaScript for some functionality. Please enable JavaScript
            to use all functionality.
        </div>
    </noscript>
    {% block menu %}
        <div class="app-bar" data-role="appbar">
            <div class="app-bar-element branding">{{ NAME }}</div>
            <ul class="app-bar-menu">
                <li><a href="/"><span class="mif-home icon"></span>Home</a></li>
                {% if user.is_authenticated %}
                    {% timeslot_exists as timeslotpresent %}
                    {% if user|has_group:"any" %}
                        <li><a href="" class="dropdown-toggle"><span class="mif-mail-read icon"></span>Proposals</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="{% url 'proposals:list' %}">All published projects</a></li>
                                {% if user|can_create_project %}
                                    <li><a href="{% url 'proposals:create' %}">Create new project</a></li>
                                {% endif %}
                                {% if user|has_group:"type1staff;type2staff;type2staffunverified;type3staff;type5staff" %}
                                    <li>
                                        <a href="{% url_timeslot 'proposals:chooseedit' %}">
                                            {% if user|has_group:'type3staff;type5staff' %}
                                                All projects
                                            {% else %}
                                                My projects
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if phasenumber < 3 %}
                                    {% if user|has_group:"type1staff;type2staff;type4staff" %}
                                        <li><a href="{% url 'proposals:pending' %}">My pending projects</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if user|has_group:"type4staff" and not user.is_superuser %}
                                    <li><a href="{% url_timeslot 'proposals:listgroupproposals' %}">My group proposals</a></li>
                                {% endif %}
                                {% if user|is_track_head and not user.is_superuser %}
                                    <li><a href="{% url_timeslot 'proposals:listtrackproposals' %}">My track proposals</a></li>
                                {% endif %}
                                {% if user|has_group:"type3staff" %}
                                    <li><a href="{% url_timeslot 'proposals:privateproposals' %}">All Private Proposals</a></li>
                                    <li><a href="{% url 'proposals:contentpolicy' %}">Content Policy Violations</a></li>
                                {% endif %}
                                {% if user|has_group:'type1staff;type2staff;type3staff;type4staff' %}
                                    {% if phasenumber > 4 %}
                                        <li><a href="{% url_timeslot 'proposals:statspersonal' %}">Personal Report</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if user|has_group:'type1staff;type2staff;type3staff;type4staff;type5staff;type6staff' %}
                                    <li>
                                        <a href="{% url_timeslot 'proposals:stats' %}">Project stats</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if user|has_group:"type3staff" %}
                            {% if phasenumber > 2 %}
                                {# phase 1 and 2 do not have any distributions #}
                                {# phase 4 - 6 show manual distribution button #}
                                <li>
                                    <a href="" class="dropdown-toggle"><span class="mif-mail-read icon"></span>Distribution</a>
                                    <ul class="d-menu" data-role="dropdown">
                                        {% if phasenumber == 6 and user.is_superuser %}
                                            <li><a href="{% url 'distributions:supportDistributeApplications' %}">Distribute
                                                Manually (superuser)</a></li>
                                        {% endif %}
                                        {% if phasenumber == 4 or phasenumber == 5 %}
                                            <li>
                                                <a href="{% url 'distributions:supportDistributeApplications' %}">Distribute
                                                    Manually</a>
                                            </li>
                                            {# actual distributions are possible in phase 4 and 5 #}
                                            {% if phasenumber == 4 %}
                                                {# phase 4 show automatic distribution menu#}
                                                <li>
                                                    <a href="{% url 'distributions:automaticoptions' %}">Distribute
                                                        Automatically</a>
                                                </li>
                                            {% endif %}
                                            <li><a href="{% url 'distributions:SupportListApplicationsDistributions' %}">List
                                                all</a></li>
                                            <li><a href="{% url "distributions:secondchoice" %}">Second Choice</a></li>
                                        {% else %}
                                            {# show simple list applications/distributions button in phase 3, 6 and 7 #}
                                            <li>
                                                <a href="{% url 'distributions:SupportListApplicationsDistributions' %}">
                                                    {% if phasenumber == 3 %}List Applications{% else %}List
                                                        Distributions{% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}  {# Distribution menu #}
                            {% if phasenumber > 4 %}
                                <li>
                                    <a href="" class="dropdown-toggle"><span class="mif-file-powerpoint icon"></span>Presentations</a>
                                    <ul class="d-menu" data-role="dropdown">
                                        <li><a href="{% url 'presentations:presentationswizardstep1' %}">Step 1
                                            Options</a></li>
                                        <li><a href="{% url 'presentations:presentationswizardstep2' %}">Step 2 add/edit
                                            Rooms</a></li>
                                        <li><a href="{% url 'presentations:presentationswizardstep3' %}">Step 3 add/edit
                                            Presentation sets</a></li>
                                        <li><a href="{% url 'presentations:presentationswizardstep4' %}">Step 4
                                            Presentations
                                            planning</a></li>
                                        <li><a href="{% url 'presentations:presentationsplanning' %}">List presentations
                                            table</a></li>
                                        <li><a href="{% url 'presentations:presentationscalendar' %}">Presentations
                                            calendar</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}  {# Presentations menu #}
                            <li>
                                <a href="" class="dropdown-toggle"><span class="mif-stack2 icon"></span>Support</a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li>
                                        <a href="#" class="dropdown-toggle">Lists</a>
                                        <ul class="d-menu" data-role="dropdown">
                                            <li><a href="{% url 'support:listusers' %}">All Users</a></li>
                                            {% comment %}
                            temporary disabled waiting for osiris integration
                            <li><a href="{% url 'support:liststudentsldap' %}">All Students</a></li>
                            {% endcomment %}
                                            <li><a href="{% url 'support:liststaff' %}">All Staff</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'support:mailinglist' %}">Mailing List</a></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle">Osiris Data</a>
                                        <ul class="d-menu" data-role="dropdown">
                                            <li><a href="{% url 'osirisdata:list' %}">All Data</a></li>
                                            <li><a href="{% url 'osirisdata:tometa' %}">Rewrite Meta</a></li>
                                        </ul>
                                    </li>
                                    {% if phasenumber == 2 %}
                                        <li><a href="{% url 'support:mailtrackheads' %}">Mail Track Heads</a></li>
                                    {% endif %}
                                    {#                                    {% if phasenumber < 6 %}#}
                                    {#                                        <li><a href="{% url 'support:ectsform' %}">Students ECTS</a></li>#}
                                    {#                                    {% endif %}#}
                                    {#                                    <li><a href="{% url 'support:verifyassistants' %}">Verify assistants</a></li>#}
                                    <li>
                                        <a href="" class="dropdown-toggle">Public files</a>
                                        <ul class="d-menu" data-role="dropdown">
                                            <li><a href="{% url 'support:addfile' %}">Add public file</a></li>
                                            <li><a href="{% url 'support:editfiles' %}">Edit public files</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'timeline:list_timeslots' %}">Timeline edit</a></li>
                                    {#                                    <li><a href="{% url 'support:capacitygroupadministration' %}">Group#}
                                    {#                                        Administration</a>#}
                                    {#                                    </li>#}
                                    <li><a href="{% url 'index:edit_tracks' %}">Track Head edit</a></li>
                                    <li><a href="{% url 'results:list_categories' %}">Setup Grading</a></li>
                                    <li><a href="{% url 'support:listcapacitygroups' %}">Capacity groups</a></li>
                                    <li><a href="{% url 'support:groupadministratorsform' %}">Group Administration</a></li>
                                    <li><a href="{% url 'support:history' %}">History</a></li>
                                </ul>
                            </li>  {# support menu #}
                        {% else %}
                            {# staff except type3/6 #}
                            {% if phasenumber > 5 %}
                                <li><!--for staff except type3-->
                                    <a href="{% url 'presentations:presentationscalendar' %}"><span
                                            class="mif-file-powerpoint icon"></span>Presentations</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if user|has_group:'type1staff;type2staff;type3staff;type6staff' %}
                            {% if phasenumber > 3 or phasenumber < 0 and timeslotpresent %}
                                <li><a href="{% url 'support:liststudents' %}"><span class="mif-users icon"></span>Students
                                    {% if phasenumber >= 6 or phasenumber < 0 %} & Grades{% endif %}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {#                    {% elif user|has_group:"type4staff" %}#}
                        {#                        <li><a href="" class="dropdown-toggle"><span class="mif-mail-read icon"></span>Proposals</a>#}
                        {#                            <ul class="d-menu" data-role="dropdown">#}
                        {#                                <li><a href="{% url 'support:listgroupproposals' %}"><span#}
                        {#                                        class="mif-mail-read icon"></span>My#}
                        {#                                    group proposals</a></li>#}
                        {#                                <li><a href="{% url 'proposals:create' %}">Create new proposal</a></li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        {#                    {% elif user|has_group:"type5staff" %}#}
                        {#                        <li><a href="{% url 'support:listproposalsadvisor' %}"><span class="mif-mail-read icon"></span>All#}
                        {#                            proposals</a></li>#}
                    {% else %} {# students #}
                        <li><a href="{% url 'proposals:list' %}"><span class="mif-mail-read icon"></span>Proposals</a>
                        </li>
                        {% if phasenumber > 2 %}
                            {% if phasenumber < 5 %}
                                <li><a href="{% url 'students:listapplications' %}"><span
                                        class="mif-stack2 icon"></span>Applications</a></li>
                            {% endif %}
                            {% if phasenumber > 4 and user.distributions.exists %}
                                <li>
                                    <a href="" class="dropdown-toggle"><span
                                            class="mif-files-empty icon"></span>Files</a>
                                    <ul class="d-menu" data-role="dropdown">
                                        <li><a href="{% url 'professionalskills:listownfiles' %}">List files</a></li>
                                        <li><a href="{% url 'students:addfile' %}">Upload file</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'presentations:presentationscalendar' %}"><span
                                            class="mif-file-powerpoint icon"></span>Presentations</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if user|has_group:'type3staff;type6staff' %}
                        <li>
                            <a href="#" class="dropdown-toggle"><span class="mif-widgets icon"></span>Professional Skills</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="{% url 'professionalskills:filetypelist' %}">All</a></li>
                                <li><a href="{% url 'professionalskills:extensions' %}">File extensions</a></li>
                                {% if user|has_group:'type6staff' %}
                                    <li><a href="{% url 'professionalskills:filetypecreate' %}">Create New</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% elif phasenumber > 4 %}
                        <li>
                            <a href="#" class="dropdown-toggle"><span class="mif-widgets icon"></span>Professional Skills</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="{% url 'professionalskills:filetypelist' %}">Professional Skills</a></li>
                                {% if user.distributions.exists %}  {# only distributed students (not filtered by timeslot) #}
                                    <li><a href="{% url 'professionalskills:listowngroups' %}">Groups</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if user.is_superuser %}
                        <li>
                            <a href="" class="dropdown-toggle"><span class="mif-wrench"></span>GodPowers</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li>
                                    <a href="#" class="dropdown-toggle">Tracking</a>
                                    <ul class="d-menu" data-role="dropdown">
                                        <li><a href="{% url 'godpowers:visitorsmenu' %}">Students List</a></li>
                                        <li><a href="{% url 'godpowers:visitorsproposalsoverview' %}">Visitors
                                            Overview</a></li>
                                        <li><a href="{% url 'tracking:listuserlog' %}">Users login log</a></li>
                                        <li><a href="{% url 'tracking:statuslist' %}">Project status change</a></li>
                                        <li><a href="{% url 'tracking:applicationlist' %}">Application tracking</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'godpowers:sessionlist' %}">Session List</a></li>
                                <li><a href="{% url 'index:list_feedback' %}">Feedback Reports</a></li>
                                <li><a href="{% url 'godpowers:clearcache' %}">Clear Cache</a></li>
                                <li><a href="{% url 'admin:index' %}">Django admin</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                <li><a href="{% url 'index:about' %}"><span class="mif-info icon"></span>About</a></li>
            </ul>
            <div class="app-bar-pullbutton automatic"></div>
            <ul class="app-bar-menu place-right" data-flexdirection="reverse">
                <li>{% get_timeslot %}</li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index:profile' %}"><span class="mif-user icon"></span>Profile</a>
                    </li>
                    <li><a href="{% url 'index:logout' %}"><span class="mif-vpn-lock icon"></span>Logout</a></li>
                {% else %}
                    <li><a href="{% url 'djangosaml2_custom:saml2_login' %}"><span class="mif-vpn-lock icon"></span>Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}
    <div id="content">
        <div class="grid">
            {#<div class="row">#}
            {#                 block 'header' is not used, is now removed jvo #}
            {#                #}
            {#            </div>#}
            <div class="row cells5" id="contentGrid">
                <div class="cell colspan4" id="cellContent">
                    {% block body %}
                        {% if Message %}
                            {% autoescape off %}
                                <p>{{ Message }}</p>
                            {% endautoescape %}
                        {% endif %}
                        {% if return %}
                            <a href="{% if returnget %}{% url return returnget %}{% else %}{% url return %}{% endif %}"
                               class="button primary">Return</a>
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="cell" id="cellSidebar">
                    {% broadcast_available user as status %}
                    {% if status %}
                        <div class="panel">
                            <div class="heading">
                                <span class="title">Announcements</span>
                            </div>
                            <div class="content padding5">
                                {% get_broadcasts user %}
                            </div>
                        </div>
                        <br>
                    {% endif %}
                    <p>Current phase: {% get_timephase %}</p>
                    {% if user.is_authenticated %}
                        {% if user|has_group:"type1staff;type2staff;type2staffunverified" %}
                            {# Staff #}
                            {% if user|has_group:"type2staffunverified" and not user.is_superuser %}
                                <p><strong>
                                    You have an unverified type2staff account.<br/>
                                    Your type2staff account will be verified by the supportstaff or when a proposals
                                    made by
                                    you is approved by the type1staff (Responsible professor).
                                    This unverified status has no further implications.
                                </strong></p>
                            {% endif %}

                            {% if phasenumber < 3 %}
                                <p>
                                    Pending proposals: {% get_pending_tag user %}
                                </p>
                            {% elif phasenumber > 5 %}
                                <div class="panel"> {# staff presentations inside a panel for more clarity #}
                                    <div class="heading">
                                        <span class="title">Presentations:</span>
                                    </div>
                                    <div class="content padding5">
                                        {% get_presentations_staff user %}
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {# Students #}
                            {% get_personal_tag user %}
                            {% if phasenumber > 4 %}
                                {% if user.distributions.exists %}
                                    {# only students #}
                                    {% get_distribution_tag user %}
                                    {% if phasenumber == 5 %}
                                        If you do not agree with your distribution, please contact the support staff.
                                    {% else %} {# phase 6 or 7 #}
                                        {% get_presentation_student user %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if user.is_impersonate %}
                            <p>
                                <strong>Impersonating user {{ request.user }} as {{ request.impersonator }}</strong>
                                <br/>
                                <a href="{% url 'impersonate-stop' %}" class="button primary">Stop impersonating</a>
                            </p>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
            {#            <div class="row cells5">#}
            {#                {% block footer %}#}
            {##}
            {#                {% endblock %}#}
            {#            </div>#}
        </div>
    </div>
</div>
<div id="footer">
    <a id="toggleSidebarButton" class="button place-right" title="Show/hide the sidebar">
        <span id='toggleSidebarButtonIcon' class="mif-chevron-right icon"></span>
    </a>
    <div class="place-left">
        {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'index:feedback_form' %}">
                {% csrf_token %}
                <input type="hidden" id="id_Reporter" name="id_Reporter" value="{{ request.user.id }}">
                <input type="hidden" id="id_Url" name="id_Url" value="{{ request.path }}">
                <button class="button primary">Feedback</button>
            </form>
        {% endif %}
    </div>

    <div class="place-right text-small">
        <div class="cell place-left padding10" onclick="roll('li')">By: Kolibri Solutions 2016-2019</div>
        <div class="cell place-left padding10">Currently deployed: {% get_hash %}</div>
    </div>
</div>
{% block scripts %}
    <script src="{% url 'js-error-handler-js' %}"></script>
    {# for js error logging, load first to capture load errors #}

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>
    {# for top horizontal scroll bar #}
    <script src="{% static "js/jquery.doubleScroll.min.js" %}"></script>
    {# datatables #}
    <script src="{% static "js/datatables.min.js" %}"></script>
    {#    <script src="{% static "js/jquery.dataTables.yadcf.js" %}"></script>#}
    <script src="{% static "js/jquery.dataTables.yadcf.min.js" %}"></script>
    <script src="{% static "js/dt_wrapper.js" %}"></script>
    {# metro #}
    <script src="{% static "js/metro.min.js" %}"></script>
    {# custom #}
    <script src="{% static "js/custom.js" %}"></script>
    {% if hide_sidebar %}
        <script type="text/javascript">
            $(function () {
                hideSidebarFast();
            });
        </script>
    {% endif %}
{% endblock %}
</body>
</html>
