{% extends "base.html" %}
{% load timeline_tags %}
{% load static %}
{% get_timephase_number as phasenumber %}
{% block stylesheets %}
    <style>

        ul.draglist {
            margin: 0;
            background-color: grey;
            min-height: 20px;
            user-select: none; /*disable text selection*/
            min-width: 20em;
        }

        li.dragblock {
            list-style: none;
            z-index: 10000;
        }

        li.dragblock > div.button {
            width: 100%;
            text-align: left;
            height: 5em;
            white-space: nowrap;
        }

        input.customDurationInput, input.customDurationInput:hover {
            color: black;
            width: 3em;
        }

        .floatblock {
            position: fixed; /* could be absolute */
            top: 100px;
            bottom: 75px;
            right: 5px;
            border: 2px solid #222;
            background: lightgray;
            padding: 5px;
            margin: auto;
            width: 30em;
            overflow-y: scroll;
        }

        .blockleft {
            overflow-x: scroll;
        }

        table {
            width: 100%
        }

        td {
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script src="{% static "js/jquery-ui.sortable.min.js" %}"></script>
    <script src="{% static "js/jquery.doubleScroll.min.js" %}"></script>
    {% csrf_token %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        //keep track of unsaved data
        var saved = true;

        //error notify
        function studentError(jqthis) {
            var errorNotify = {
                caption: 'Server error',
                content: 'Please refresh this page (F5) or contact system administrator',
                icon: "<span class='mif-warning'></span>",
                type: "alert"
            };
            jqthis.find(".studentLinkIcon").removeClass("mif-link").addClass("mif-warning");
            jqthis.find(".studentApplicationPriority").show().text("-2");
            $.Notify(errorNotify)
        }

        function sendPlanning() {
            var ulSets = document.getElementsByClassName("plannedSlots");
            var nUlSets = ulSets.length;
            var datas = [];
            $.Notify({
                caption: "Parsing...",
                content: "Creating the data to send to the server",
                icon: "mif-loading",
                type: "info"
            });
            for (var i = 0; i < nUlSets; i++) {
                var setNr = $(ulSets[i]).data('set');
                var slots = ulSets[i].children;
                var nSlots = slots.length;
                datas[i] = [setNr, []];
                for (var j = 0; j < nSlots; j++) {
                    var li = $(slots[j]);
                    datas[i][1][j] = {
                        'DateTime': parseInt(li.data('start')),
                        'Distribution': li.data('dist') ? parseInt(li.data("dist")) : null,
                        'CustomType': li.data('type') ? li.data('type') : null,
                        'CustomDuration': parseInt(li.data('duration'))
                    }
                }
            }
            $.Notify({
                caption: "Sending...",
                content: "Sending data to the server",
                type: "info"
            });
            $.post("{% url 'presentations:presentationswizardstep4' %}", {"jsondata": JSON.stringify(datas)}, function (data) {
                if (data.type === 'success') {
                    $.Notify({
                        caption: "Saved presentations!",
                        content: "Saved!",
                        type: "success"
                    });
                    saved = true;
                } else {
                    $.Notify({
                        caption: "Server Error",
                        content: "Not saved!",
                        type: "error"
                    });
                }
            }, "json")
                .fail(function () {
                    $.Notify({
                        caption: "Sending failed",
                        content: "Not saved!",
                        type: "error"
                    });
                });
        }

        //recalculate the timing of all sets
        function recalculateAllSets() {
            var allSets = [
                {% for set in sets %}
                    {{ set.id }},
                {% endfor %}
            ];
            for (var i = 0; i < allSets.length; i++) {
                calculateSet(allSets[i])
            }
        }

        function clearSet(setid) {
            //remove all presentations in one set.
            if (confirm("Are you sure to remove all presentations from this set?")) {
                var ulSet = $("ul#plannedSlot-set-" + setid);
                //hide all warnings on this set, show them afterwards if needed.
                ulSet.find("span.maxpresentationswarning").hide();
                var elems = ulSet.children();
                var start = ulSet.data('start');
                var nelems = elems.length;
                for (var i = 0; i < nelems; i++) {
                    var elem = $(elems[i]);
                    if (elem.data("type") == '') {//a presentation
                        elem.find("span.tracktag").removeClass('warning').addClass('default');
                        elem.find("span.startTime").html("..");
                        elem.appendTo("ul#unplannedSlots");
                    } else {
                        elem.remove();
                    }
                }
                saved = false;
            }
        }

        //recalculate the timing of a set, and send this to the server using setSlot()
        function calculateSet(set) {
            saved = false;
            var ulSet = $("ul#plannedSlot-set-" + set);
            //hide all warnings on this set, show them afterwards if needed.
            ulSet.find("span.maxpresentationswarning").hide();
            var elems = ulSet.children();
            var start = ulSet.data('start');
            var now = start;
            var nelems = elems.length;
            var presentationCounter = 0;
            var maxPresentations = {{ opts.PresentationsBeforeAssessment }};
            var track = ulSet.data('track');
            for (var i = 0; i < nelems; i++) {
                var elem = $(elems[i]);
                var dur = elem.data('duration') * 60; //minutes to seconds
                var d = new Date(now * 1000);
                elem.data('start', now);
                elem.find("span.startTime").html(d.getHours() + ":" + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes());
                now += dur;
                if (track == elem.data('track')) { //presentation is in correct track
                    elem.find("span.tracktag").removeClass('warning').addClass('default');
                } else {//presentation in wrong track
                    elem.find("span.tracktag").removeClass('default').addClass('warning');
                }
                if (elem.data("type") == '') {//a presentation
                    presentationCounter++;
                    if (presentationCounter > maxPresentations) {
                        elem.find("span.maxpresentationswarning").show();
                        //show warning, too much presentations in a row
                    }
                } else { //a break or an assessment
                    //reset counter if an object of other type is found (a break or an assessment slot)
                    presentationCounter = 0;
                }
            }
        }

        function trackFilter() {
            var ulSet = $("ul#unplannedSlots");
            var elems = ulSet.children();
            var nelems = elems.length;
            var track = $("#trackfilter")[0].value;
            $('#student-search-box').val('');
            for (var i = 0; i < nelems; i++) {
                var elem = $(elems[i]);
                if (track == 'all') {
                    elem.show()
                } else {
                    if (track == elem.data('track')) {
                        elem.show()
                    } else {
                        elem.hide()
                    }
                }
            }
        }

        //unplanned to planned
        $("ul.draglist").sortable({
            connectWith: "ul.draglist",
            appendTo: 'body',
            helper: "clone",
            zIndex: "300",
            placeholder: "", /*here any custom classes for a just-before-drop UL can be defined*/
            //for a change in order
            update: function (event, ui) {
                var jqthis = $(this);
                if (jqthis.data('slots-list') === "plannedSlots") {
                    var setTo = jqthis.data('set');
                    calculateSet(setTo)
                }
            },
            //for a change in list
            receive: function (event, ui) {
                var jqthis = $(this);
                var from = $(ui.sender).data('slots-list');
                var to = jqthis.data('slots-list');
                var item = $(ui.item);
                var dist = item.attr("id");
                //console.log("from:"+from+" to:"+to+" dist:"+dist)
                if (from === "unplannedSlots") {
                    if (to === "unplannedSlots") {
                        //nothing, just a re-ordering of this list
                    } else if (to === 'plannedSlots') {
                        //RowTo is updated in the 'update' function
                    } else if (to === "customSlots") {
                        //should not happen, revert
                        item.appendTo("ul.unplannedSlots")
                    } else {
                        window.alert("Error 1, please refresh the page.")
                    }
                } else if (from === "plannedSlots") {
                    //var setFrom = $(ui.sender).data('set');
                    //calculateSet(setFrom);
                    if (to === "unplannedSlots") {
                        //only if a distribution
                        if (item.hasClass("customSlot")) {
                            //remove item
                            item.remove();
                        } else {
                            //allowed
                            //hide all warning signs and timings on the block
                            var elem = $("ul#unplannedSlots>li");
                            elem.find("span.maxpresentationswarning").hide();
                            elem.find("span.startTime").html("..");
                            elem.find("span.tracktag").removeClass('warning').addClass('default');
                        }
                    } else if (to === 'plannedSlots') {
                        //RowTo is updated in the 'update' function
                    } else if (to === "customSlots") {
                        //remove/unplan the item
                        if (item.hasClass("customSlot")) {
                            //remove item
                            item.remove();
                        } else {
                            //invalid. Just unplan the normal way, re-append to unplannedSlots
                            item.appendTo("ul.unplannedSlots")
                        }
                    } else {
                        window.alert("Error 2, please refresh the page.")
                    }
                } else if (from === "customSlots") {
                    //add a new one of this to the customslots, clone with keeping of events.
                    item.clone(true, true).appendTo("ul.customSlots");
                    if (to === "unplannedSlots") {
                        //do nothing
                        item.remove();
                    } else if (to === 'plannedSlots') {
                        //RowTo is updated in the 'update' function
                    } else if (to === "customSlots") {
                        //remove the item
                        item.remove();
                    } else {
                        window.alert("Error 3, please refresh the page.")
                    }
                } else {
                    window.alert("Error 4, please refresh the page.")
                }
            }
        });

        //live search for proposals
        $(document).ready(function () {
            //hide sidebar, more space for the table
            $("#cellSidebar").css("display", "none");
            $("#cellContent").removeClass("colspan4").addClass("colspan5");

            $('#student-search-box').on('change input', function () {
                var searchTerm = $(this).val().toLowerCase();
                $("#trackfilter")[0].value = 'all';
                $('ul#unplannedSlots>li').each(function () {
                    if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            //custom duration input
            $('input.customDurationInput').on('input', function () {
                var li = $(this).parent().parent();
                li.data('duration', this.value);
                var set = li.parent().data('set');
                calculateSet(set);
            });
            $('.double-scroll').doubleScroll();
        });
        //warning dialog to save before leaving the page. Chrome/FF doesn't show the message but shows the dialog.
        window.onbeforeunload = function () {
            if (!saved)
                return "Did you already save the presentations planning?"
        }

    </script>
{% endblock %}

{% block body %}
    <div style="margin-right:30em">
        <h1>Step 4; Make planning</h1>
        <a href="#" onclick="sendPlanning()" title="Save presentations planning" class="button success">Save the
            planning</a>
        <a href="#" onclick="recalculateAllSets()" title="Recalculate all sets" class="button">Recalculate
            timings/warnings</a>
        <a href="{% url "presentations:presentationsplanning" %}" class="button primary">View planning table</a>
        <a href="{% url "presentations:presentationscalendar" %}" class="button primary">View planning calendar</a>
        <hr/>
        <div class="blockleft double-scroll">

            <table>
                <thead>
                <tr>
                    {% for set in sets %}
                        <th>
                            Presentation: {{ set.PresentationRoom.Name }}<br/>
                            Assessment: {{ set.AssessmentRoom.Name }}<br/>
                            Track: {{ set.Track }}<br/>
                            Assessors: {{ set.Assessors.all|unordered_list }}<br/>
                            Start: {{ set.DateTime|date:'H:i d-m-Y' }}
                            <a class="button warning" href="#" onclick="clearSet({{ set.id }})">Clear set</a>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for set in sets %}
                        <td>
                            <ul class="draglist plannedSlots no-padding-left bg-grey" data-slots-list="plannedSlots"
                                data-track="{{ set.Track }}" data-set="{{ set.id }}" id="plannedSlot-set-{{ set.id }}"
                                data-start="{{ set.DateTime|date:'U' }}">
                                {% for slot in set.timeslots.all %}
                                    {% with slot.Distribution as d %}
                                        {% if slot.CustomType %}
                                            <li class="dragblock presentation" id="custom-{{ slot.id }}"
                                                data-duration="{{ slot.Duration }}"
                                                data-start="{{ slot.DateTime|date:'U' }}"
                                                data-dist="{{ slot.Distribution.id }}"
                                                data-type="{{ slot.CustomType }}">
                                                <div class="button info" style="height: 3em;">
                                                    <span class='tag info startTime'>{{ slot.DateTime|date:"H:i" }}</span>
                                                    {{ slot.get_CustomType_display }} <input type="number"
                                                                                             class="customDurationInput"
                                                                                             value="{{ slot.CustomDuration }}"
                                                                                             min="1" max="100"/> min.
                                                </div>
                                            </li>
                                        {% else %}
                                            {% include 'presentations/presentation_include_distributionBlock.html' %}
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="floatblock">
            <h3>Slots</h3>
            <ul class="draglist customSlots no-padding-left" data-slots-list="customSlots">
                {% for t in types %}
                    <li class="dragblock customSlot"
                        data-duration="{{ opts.AssessmentDuration }}"
                        data-start=""
                        data-type="{{ t.0 }}">
                        <div class="button info" style="height: 3em;">
                            <span class='tag info startTime'>..</span>
                            {{ t.1 }} <input type="number" class="customDurationInput"
                                             value="{{ opts.AssessmentDuration }}" min="1" max="100"/> min.
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <h3>Available students</h3>
            <input id="student-search-box" style="width:99%" type="text" placeholder="Search student"/>
            <button id="students-show-all" style="width:40%" onclick="$('#student-search-box').val('').change()">Show
                all
            </button>
            <select onchange="trackFilter()" id="trackfilter">
                <option value="all">All tracks</option>
                {% for track in tracks %}
                    <option value="{{ track }}">{{ track }}</option>
                {% endfor %}
            </select>
            <ul class="draglist unplannedSlots bg-grey no-padding-left" data-slots-list="unplannedSlots"
                id="unplannedSlots">
                {% for d in dists %}
                    {% include 'presentations/presentation_include_distributionBlock.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
