<li class="dragblock presentation" id="dist-{{ d.pk }}"
    data-duration="{{ opts.PresentationDuration }}"
    data-start="{{ slot.DateTime|date:'U' }}"
    data-dist="{{ d.id }}"
    data-type="{{ slot.CustomType }}"
    data-track="{{ d.Proposal.Track }}"
    data-search-term="{{ d.Student.first_name|lower }} {{ d.Student.usermeta.Fullname|lower }} {{ d.Student.usermeta.Studentnumber }} {{ d.Proposal.Track.Name|lower }} {{ d.Proposal.Track.ShortName|lower }}">
    <div class="button primary ">
        {#  Tooltip with all applications of Student, dictsorted by Priority, displayed as ordered list.#}
        <span data-role="hint"
              data-hint-background="bg-grayLight"
              data-hint-position="right"
              data-hint-color="fg-black"
              data-hint-mode="2"
              data-hint="{{ d.Proposal.Title }}<br />{{ d.Proposal.ResponsibleStaff.get_full_name }}<br />
            |Assistants:<ul class='no-padding-left no-margin' style='list-style:none'>

                      {#  the tag warning span, is only for double-checking that the list order is correct. It prints the Priority which should be equal to its index number. #}
                    {% for assistant in d.Proposal.Assistants.all %}
                        <li>{{ assistant.get_full_name }}</li>
                    {% endfor %}</ul>">
            {#  an student with project #}
            <span class='tag info startTime'>{% if slot %}{{ slot.DateTime|date:"H:i" }}{% else %}..{% endif %}</span>
            <span class='tag warning maxpresentationswarning'
                  style="display:none;">Too much presentations in a row!</span>
            {{ d.Student.usermeta.Fullname }}<br/>
            <span class='tag default tracktag fg-black'>{{ d.Proposal.Track }}</span> {{ d.Proposal.Title|truncatechars:"30" }}<br/>
            <b>{{ d.Proposal.ResponsibleStaff.get_full_name|truncatechars:"30" }}</b>
        </span>
    </div>
</li>