__pycache__
.idea/
*.aux
*.bak
*.gz
*.json
*.log
*.pyc
*.sqlite3
*.swo
*.swp
*.toc
documentation/build/
githash
media/*
migrations/
templates/static/admin/*
templates/static/channels/*
BepMarketplace/config/secret.py
BepMarketplace/config/secret.py
telemetry_cli/telemetry_key.py
*.lock
*.csv
Pipfile
Pipfile.lock
/node_modules/
/start_redis.bat
