__pycache__
.idea/
*.aux
*.bak
*.gz
*.json
*.log
*.pyc
*.sqlite3
*.swo
*.swp
*.toc
documentation/build/
githash
media/*
migrations/
templates/static/admin/*
templates/static/channels/*
BepMarketplace/secret.py
telemetry_cli/telemetry_key.py