*.aux
*.bak
*.csv
*.gz
*.json
*.lock
*.log
*.pyc
*.sql
*.sqlite3
*.swo
*.swp
*.toc
*.xlsx
*.yaml
.idea/
/node_modules/
/node_modules/
/start_redis.bat
/virustotal/secret.py
BepMarketplace/config/secret.py
BepMarketplace/secret.py
Pipfile
Pipfile.lock
__pycache__
documentation/build/
githash
logging/
media/*
telemetry_cli/telemetry_key.py
templates/static/admin/*
templates/static/channels/*
templates/static/debug_toolbar/*
templates/static/markdownx/*
tracking/telemetry/*
