asgiref==3.1.2
bleach
channels==2.2.0
daphne==2.3.0
django>=2.2.6
django-csp
django-htmlmin
django-impersonate
django-ipware
django-js-error-hook
django-redis
channels_redis==2.3.2
django-render-block
django-sendfile
django-two-factor-auth
djangosaml2>=0.16.11
docutils
openpyxl
pillow
pip
psycopg2-binary
pysaml2
pytz
service_identity
Sphinx
xhtml2pdf>=0.2b1
phonenumbers
pylti
oauthlib
requests
markdown