asgi_redis
bleach
channels>=2
daphne>=2
django>=2
django-csp
django-htmlmin
django-impersonate
django-ipware
django-redis
channels_redis
django-render-block
django-sendfile
django-two-factor-auth
djangosaml2
docutils
openpyxl
pillow
pip
psycopg2
pysaml2
pytz
service_identity
Sphinx
websocket-client
xhtml2pdf>=0.2b1
phonenumbers
