# Sphinx
asgi_redis
# asgiref>=3.3.1
beautifulsoup4
bleach>=6
channels>=4
channels_redis
daphne>=4
django-csp
django-formtools>=2.2
django-htmlmin
django-impersonate
django-ipware>=3
django-otp>=0.8
django-redis
django-render-block
django-phonenumber-field
django-sendfile
django-two-factor-auth
django>=4
docutils
lxml
markdown
mozilla_django_oidc
oauthlib
openpyxl>=3
phonenumberslite
pillow
pip
psycopg2-binary
pylti
pytz
pyyaml
requests
service_identity
xhtml2pdf>=0.2
reportlab>=3.5.53,<3.6.7