{% extends "email/base_email.html" %}
{% block body %}
Proposal <a href="https://{{ domain }}{% url 'proposals:details' proposal.id %}">{{ proposal.Title }}</a> requires your attention due to status changed to {{  proposal.get_Status_display }}<br/>
You can use the direct link or go to your <a href="https://{{ domain }}{% url 'proposals:pending' %}">pending list</a> to attend to this.
    {% if message %}
        The following comment was made on this proposal:
        <p><i>{{ message }}</i></p>
    {% endif %}
{% endblock %}