{% block header %}
Hi!
<br/>
{% endblock %}

{% block body %}

{% endblock %}
<br/><br/>
Thank you for using our platform! If you have any questions, please contact the marketplace team at <a href="mailto:marketplace@ieee.tue.nl">marketplace@ieee.tue.nl</a>.<br/>
Kind regards,<br/>
The BEP Marketplace Team<br/>
<a href="https://marketplace.ieeesb.nl/">marketplace.ieeesb.nl</a><br/>
<br/>
This email is personal and only for the intended receiver. If you think you received this message in error, please contact us at marketplace@ieee.tue.nl.<br/>
Do NOT reply to this email as its a no-reply address.