{% block header %}
Hi!
<br/>
{% endblock %}

{% block body %}

{% endblock %}
<br/><br/>
Thank you for using our platform! If you have any questions, please contact the {{ name }} team at <a href="mailto:{{ email }}">{{ email }}</a>.<br/>
Kind regards,<br/>
The {{ name }} Team<br/>
<a href="{{ domain }}">{{ domain }}</a><br/>
<br/>
This email is personal and only for the intended receiver. If you think you received this message in error, please contact us at {{ email }}.<br/>
Do NOT reply to this email as it is a no-reply address.