{% extends 'email/base_email.html' %}

{% block  header %}
Dear {{ student.usermeta.get_nice_name }},<br/><br/>
{% endblock %}

{% block body %}
You have overdue professional skill hand ins for your project {{ project }} of the following type:<br/>
<ul>
    {% for type in types %}
        <li>{{ type.Description }}</li>
    {% endfor %}
</ul>
<br/>
Please upload your deliverables to the {{ NAME }} as soon as possible. If you fail to do this you can not complete your
    professional skills.<br/>
Note that your supervisor has to grade your professional skill with at least a sufficient in order for you to pass.
{% endblock %}
