{% extends "email/base_email.html" %}

{% block body %}
Congratulations! You have been given staff access to the BEP marketplace (<a href="{{ domain }}">{{ domain }}</a>).<br/>
A user account has been created for this email address with username {{ user.get_username }} for the system.<br/>
To activate this user account and set a password simply go to this link:<br/>
<a href="{{ domain }}{% url 'index:password_reset_confirm' uidb64=uid token=token %}">{{ domain }}{% url 'index:password_reset_confirm' uidb64=uid token=token %}</a>
<br/><br/>
For explanation on how the marketplace works please login and visit the homepage.
{% endblock %}