{%  extends "email/base_email.html" %}

{% block body %}
You have requested to set your password for your account {{ user.get_username }}. If this account does not belong to you, or if you didnt request for this, please ignore this email.
To set your password simply click the following link and follow instructions there:<br/>
{% block reset_link %}
<a href="https://{{ domain }}{% url 'index:password_reset_confirm' uidb64=uid token=token %}">https://{{ domain }}{% url 'index:password_reset_confirm' uidb64=uid token=token %}</a>
{% endblock %}
{%  endblock %}