{% extends "email/base_email.html" %}

{% block header %}
Dear {{ supervisor.get_full_name }},<br />
{% endblock %}

{% block body %}
Distribution of projects on the {{ name }} has finished. <br/>
The results for you projects are listed below. If you think we made an error, please let us know <u>within a week</u>.
<br/><br/>

Projects for which you are responsible:<br/>
{% for project in projects %}
    <i>{{ project }}</i>:<br/>
    {% if project.distributions.count == 0 %}
        <br/>Unfortunately no students have been distributed to this project.<br/><br/>
    {% else %}
        <ul>
        {% for dist in project.distributions.all %}
            <li><a href="mailto:{{ dist.Student.email }}">{{ dist.Student.get_full_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
<br/><br/>
We will publish statistics about how your project did in the {{ name }} later this year.
{% endblock %}