{% extends "email/base_email.html" %}

{% block header %}
Dear {{ supervisor.usermeta.get_nice_name }},<br />
{% endblock %}

{% block body %}
Distribution of projects on the {{ NAME }} has finished. <br/>
The results for you projects are listed below. If you think we made an error, please let us know <u>within a week</u>.
<br /><br />

Projects for which you are responsible:<br/>
{% for project in projects %}
    <br /><i>{{ project }}</i>:<br/>
    {% if project.distributions.count == 0 %}
        Unfortunately no students have been distributed to this project.<br/>
    {% else %}
        <ul>
        {% for dist in project.distributions.all %}
            <li><a href="mailto:{{ dist.Student.email }}">{{ dist.Student.usermeta.get_nice_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
<br/><br/>
We will publish statistics about how your project did in the {{ NAME }} later this year.
{% endblock %}
