{% extends 'base.html' %}
{% load index_tags %}
{% block body %}
    <h1>Professional Skills</h1>
    {% if not user|has_group:'any' %}{# for students #}
        {#        To hand in a prv you can upload files <a href="{% url 'students:addfile' %}">here</a>.<br/>#}
        {#        Your previous handins can be found <a href="{% url 'professionalskills:listownfiles' %}">here</a>.<br/>#}
        <p>To upload files or view your previous uploads, use the 'Files' menu at the top.</p>
        <a href="{% url 'professionalskills:listowngroups' %}" class="button primary">List Enrolled Groups</a>
    {% elif user|has_group:"type6staff;type3staff" %}
        <a href="{% url 'professionalskills:mailoverduestudents' %}" class="button primary">Mail Overdue
            Students</a>
        <a class="button primary" href="{% url 'professionalskills:printprvforms' %}">Print Results</a>
        <a class="button primary" href="{% url 'professionalskills:filetypecreate' %}">Create New</a>

    {% endif %}
    <table id="filetypetable" class="table datatable striped hovered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Deadline</th>
            <th>Description</th>
            <th>Grading</th>
            {% if user|has_group:'type3staff;type6staff' %}
                <th data-searchable="false" data-sortable="false">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for filetype in filetypes %}
            <tr>
                <td>{{ filetype }}</td>
                <td data-sort="{{ filetype.Deadline|date:"U" }}">{{ filetype.Deadline }}</td>
                <td>{{ filetype.Description }}</td>
                <td>
                <ul class="unstyled-list">
{#                    <li>{% if filetype.results.exists %}This file has to be graded using the grading system.{% else %}No official grade is required. {% endif %}</li>#}
                    <li>{% if filetype.CheckedBySupervisor %}Supervisors can respond to the file to give feedback.{% else %}No feedback for this file is required.{% endif %}</li>
                </ul>
                </td>
                {% if user|has_group:'type3staff;type6staff' %}
                    <td>
                        <a href="{% url 'professionalskills:listfileoftype' filetype.id %}" class="button primary">Delivered</a>
                        <a href="{% url 'professionalskills:listmissingoftype' filetype.id %}" class="button primary">Missing
                            Students</a>
                        <a href="{% url 'professionalskills:downloadall' filetype.id %}" class="button primary">Download
                            All</a>
                        <a href="{% url 'professionalskills:filetypeedit' filetype.id %}"
                           class="button warning">Edit</a>
                        <a href="{% url 'professionalskills:filetypedelete' filetype.id %}"
                           class="button danger">Delete</a>
                        <br/>
                        <a href="{% url 'professionalskills:listgroups' filetype.pk %}" class="button primary">List
                            Groups</a>
                        <a href="{% url 'professionalskills:assignshuffle' filetype.pk %}" class="button warning">Shuffle
                            Students</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.datatable').dt_wrapper();
        });
    </script>
{% endblock %}
