{% extends "base.html" %}
{% block body %}
    <h1>Files list for {{ dist.Student.usermeta.get_nice_name }}</h1>
    <table class="table bordered">
        <thead>
        <th></th>
        <th>Caption</th>
        <th>File</th>
        <th>Type</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Deadline</th>
        <th>Supervisor Approval</th>
        <th>Supervisor Comments</th>
        {% if respond %}
            <th>Respond</th>
        {% elif edit %}
            <th>Edit</th>
        {% endif %}
        </thead>
        {% for file in files %}
            <tr>
                <td><span class="icon mif-file-{{ file.metro_icon }}"></span></td>
                <td>{{ file.Caption }}</td>

                <td><a href="{% url "download:studentfile" file.id %}" download>{{ file.OriginalName }}</a></td>

                <td>{{ file.Type }}</td>
                <td data-sort="{{ file.Created|date:"U" }}">{{ file.Created }}</td>

                <td {% if file.TimeStamp.date <= file.Type.Deadline %} class="success"
                                                                       {% else %}class="error"{% endif %}
                                                                       data-sort="{{ file.TimeStamp|date:"U" }}">{{ file.TimeStamp }}</td>
                <td {% if file.TimeStamp.date <= file.Type.Deadline %} class="success"
                                                                       {% else %}class="error"{% endif %} >{{ file.Type.Deadline }}</td>
                <td>
                    {% if file.Type.CheckedBySupervisor %}
                        {% if file.staffreponse.Status == 'V' or file.staffreponse.Status == 'G' %}
                            {{ file.staffreponse.Status }}: <span class="mif-checkmark fg-green"></span>
                        {% elif file.staffreponse %}
                            {{ file.staffreponse.Status }}: <span class="mif-cross fg-red"></span>
                        {% else %}
                            Not yet graded.
                        {% endif %}
                    {% else %}
                        No check needed
                    {% endif %}
                </td>
                <td>
                    {% if file.Type.CheckedBySupervisor %}
                        {{ file.staffreponse.Explanation }}
                    {% else %}
                        No check needed
                    {% endif %}
                </td>
                {% if respond %}
                    <td>
                    {% if file.Type.CheckedBySupervisor %}
                        <a href="{% url 'professionalskills:respondfile' file.id %}" class="button primary">Respond</a>
                    {% else %}
                        -
                    {% endif %}
                    </td>
                {% elif edit %}
                    <td>
                        <a href="{% url 'students:editfile' file.id %}" class="button primary">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}