{% extends 'base.html' %}
{% load professionalskills_tags %}
{% block body %}
    {% if type %}
        <h1>All files of type {{ type }}</h1>
        <h3>Has deadline {{ type.Deadline }}</h3>
        {#    {% else %}#}
        {#        <h1>Files list for {{ dist.Student.usermeta.get_nice_name }}</h1>#}
        {#        {% if not user.groups.exists %}#}
        {#            <a href="{% url 'students:addfile' %}" class="button primary">Upload a file</a>#}
        {#        {% endif %}#}
    {% endif %}
    <table class="table bordered striped datatable">
        <thead>
        <tr>
            <th>{% if type %}Student{% else %}Type{% endif %}</th>
            <th><span class="mif-attachment"></span> Name</th>
            <th data-sortable="false">Caption</th>
            <th>Time Stamp</th>
            <th>Supervisor feedback</th>
            <th>Rubric</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{% if type %} {{ file.Distribution.Student.usermeta.get_nice_name }} {% else %} {{ file.Type }} {% endif %}</td>
                <td>
                    <a href="{% url "download:studentfile" file.id %}" download><span class="icon mif-file-{{ file.metro_icon }}"></span> {{ file.OriginalName }}</a>
                </td>
                <td>{{ file.Caption }}</td>
                <td data-sort="{{ file.TimeStamp|date:"U" }}" class="{% if file.after_deadline %}error{% else %}success{% endif %}">
                    {% if file.Created|date:"U" != file.TimeStamp|date:"U" %}
                        Last change: {{ file.TimeStamp }}<br/>
                    {% endif %}
                    Created: {{ file.Created }}<br/>
                </td>
                <td>
                    {% if file.Type.CheckedBySupervisor %}
                        {% if file.staffresponse %}
                            {{ file.staffresponse.get_Status_display }}:
                            {% if file.staffresponse.Status == 'V' or file.staffresponse.Status == 'G' %}
                                <span class="mif-checkmark fg-green"></span>
                            {% else %}
                                <span class="mif-cross fg-red"></span>
                            {% endif %}
                            {% if file.staffresponse.file_changed_after_grade %}
                                <b>Warning: File has changed after grading</b>
                        {% endif %}
                        {% endif %}
                    {% else %}
                        No check needed
                    {% endif %}
                </td>
                <td>
                    {% if file.Type.CheckedBySupervisor %}
                        {% if file.Distribution|can_respond_file:request.user %}
                            <a href="{% url 'professionalskills:respond' file.id %}" class="button primary">Grade</a>
                        {% endif %}
                        <a href="{% url 'professionalskills:response' file.id %}" class="button primary">View</a>
                    {% else %}
                        No check needed
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var dt = $('.datatable').dt_wrapper(
                [
                    {column_number: 0, filter_type: {% if type %}"text"{% else %}"select"{% endif %}}, {# student #}
                ]
            );
        });
    </script>
{% endblock %}
