{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filters %}

{% block body %}
    <h1>All enrolled groups</h1>
    Click on possible group to see current assigned students.<br/>
    Choose in the dropdown menu a group to switch too and click save.<br/>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <table class="table bordered hovered striped">
            <thead>
            <tr>
                <th>PRV</th>
                <th>Possible Groups</th>
                <th>Current Group</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.0.PRV }}</td>
                    <td>
                        <ul>
                            {% for gr in group.0.PRV.groups.all %}
                                <li><a href="{% url 'professionalskills:listgroupmembers' gr.pk %}">{{ gr }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {{ group.1.Group }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input class="button success" type="submit" value="Save">
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(function () {
            $(".select2-tag-enable").select2({
                minimumResultsForSearch: 6,
                width: '100%',
            });
        });
    </script>
{% endblock %}