{% extends "base.html" %}

{% block body %}
    <h1>Students with no submission for files of type {{ type }}</h1>
    <h3>Has deadline {{ type.Deadline|date:'D d b' }}</h3>
    <table id="filetable" class="table bordered striped datatable">
        <thead>
        <tr>
            <th>Student</th>
            <th>Proposal</th>
        </tr>
        </thead>
        <tbody>
        {% for dist in distributions %}
            <tr>
                <td><a href="mailto:{{ dist.Student.email }}"> {{ dist.Student.usermeta.get_nice_name }}</a></td>
                <td><a href="{% url 'proposals:details' dist.Proposal.id %}">{{ dist.Proposal }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
           var dt = $('.datatable').dt_wrapper();
        });
    </script>
{% endblock %}
