{% extends "base.html" %}
{% load static %}

{% block body %}
    {% if bodyhtml %}
        {% autoescape off %}
            {{ bodyhtml }}
        {% endautoescape %}
    {% else %}

        <h1>
            {% if usrsubject %}Visited by {{ usrsubject.usermeta.get_nice_name }}{% elif favorite %}Favorite Projects{% else %}Published projects{% endif %}
        </h1>
        {# tabcontrol is now incorrect for visited-by view, but this is only for superusers. #}
        <div class="tabcontrol">
            <ul class="tabs">
                <li {% if not favorite %} class="active"{% endif %}><a href="{% url 'proposals:list' %}">All projects</a></li>
                <li {% if favorite %} class="active"{% endif %}><a href="{% url 'proposals:favorites' %}">Favorite only</a></li>
            </ul>
        </div>
        <div class="double-scroll">
            <table class="table datatable striped hovered">
                <thead>
                <tr>
                    <th><span class="mif-star-half icon"></span></th>
                    <th data-priority="1">Name</th>
                    <th>Track</th>
                    <th>Research group</th>
                    <th>Responsible staff</th>
                    <th>Assistants</th>
                    <th data-visible="false">URL</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr data-proj="{{ project.pk }}">
                        <td>
                        <span id="fav-{{ project.pk }}"
                              class="star-favorite mif-star-empty icon">
                        </span>
                        </td>
                        <td>
                            <a href="{% url 'proposals:details' project.id %}">{{ project.Title }}</a>
                        </td>
                        <td>{{ project.Track }}</td>
                        <td>{{ project.Group }}</td>
                        <td>
                            <a href="mailto:{{ project.ResponsibleStaff.email }}">
                                {{ project.ResponsibleStaff.usermeta.get_nice_name }}
                            </a>
                        </td>
                        <td>
                            <ul class="no-margin">
                                {% for a in project.Assistants.all %}
                                    <li><a href="mailto:{{ a.email }}">{{ a.usermeta.get_nice_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ DOMAIN }}{% url 'proposals:details' project.id %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/websocketbridge.js" %}"></script>
    <script src="{% static "js/favorite.js" %}"></script>
    <script>
        $(document).ready(function () {
            // custom sort for favorite button, https://datatables.net/examples/plug-ins/dom_sort.html
            $.fn.dataTable.ext.order['dom-order-favorite'] = function (settings, col) {
                return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
                    return $('span', td).hasClass('mif-star-full') ? '1' : '0';
                });
            };
            // make cols array for datatables
            const l = $("table.datatable th").length;
            const cols = new Array(l);
            for (var i = 0; i < l; i++) {
                cols[i] = null;
            }
            // set first column to custom sort function
            cols[0] = {"orderDataType": "dom-order-favorite"};
            // call datatables with yadcf and the cols array.
            $('.datatable').dt_wrapper([
                    {column_number: 1, filter_type: "text"},
                    {column_number: 2, filter_type: "select", filter_match_mode: "exact"},
                    {column_number: 3, filter_type: "select", filter_match_mode: 'exact'},
                    {column_number: 4, filter_type: "select", column_data_type: 'html'},  // to parse mailto links
                    {
                        column_number: 5,
                        filter_type: "select",
                        column_data_type: 'html',
                        html_data_type: 'selector',
                        html_data_selector: 'li'
                    }, //to parse ul-li}
                ], cols
            );
            // load all favorites after cache
            var favs = {{ favorite_projects }};
            for (var i = 0; i < favs.length; i++) {
                $('#fav-' + favs[i]).removeClass('mif-star-empty').addClass('mif-star-full');
            }
        });


    </script>
{% endblock %}
