{% extends "base.html" %}
{% load static %}
{% load index_tags %}
{% load proposal_tags %}
{% load timeline_tags %}
{% get_timephase_number as phasenumber %}
{% block body %}
    <h1>
    {% if title %}
        {{ title }}
    {% elif user|has_group:'type3staff' %}
        All projects
    {% else %}
        My projects
    {% endif %}
    {% if timeslots %}
     of {{ timeslot|default_if_none:"future" }}
    {% endif %}
    </h1>
    {% if timeslots %}
        <div class="tabcontrol">
            <ul class="tabs">
                {% for ts in timeslots %}
                    <li {% if ts == timeslot %}class="active"{% endif %}><a href="{% if ts == timeslot %}#{% else %}../{{ ts.pk }}{% endif %}">{{ ts }}</a></li>
                {% endfor %}
                <li {% if not timeslot %}class="active"{% endif %}><a href="{% if timeslot %}../future{% else %}#{% endif %}">Future</a></li>
            </ul>
        </div>
    {% endif %}
    <a href="#" id="projectinfo" class="columnToggle button"><span></span> project details</a>
    <div class="double-scroll">
        <table class="table datatable striped" data-order='[[2, "asc"]]'>
            <thead>
            <tr>
                <th><span class="mif-star-half icon"></span></th>
                <th data-priority="4" data-searchable="false" data-sortable="false">{% if phasenumber < 5 %}
                    Edit{% else %}Distributions{% endif %}</th>
{#                <th data-visible='false' class="projectinfo">TimeSlot</th>#}
                <th data-priority="1">Name</th>
                <th data-visible='false' class="projectinfo">Track</th>
                <th data-visible='false' class="projectinfo">Group</th>
                <th>Responsible staff</th>
                <th>Assistant(s)</th>
                <th data-priority="2">Status</th>
                {% if private %}
                    <th>Private to student</th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                    <span id="fav-{{ project.pk }}"
                          class="star-favorite mif-star-{% if project.pk in favorite_projects %}full{% else %}empty{% endif %} icon">
                    </span>
                    </td>
                    <td>
                        {% if not user|has_group:"type5staff" or user.is_superuser %}
                            {# type3 can delete old projects, no edit as history cannot be changed #}
                            {% if project.prevyear %}
                                {% if user|has_group:"type3staff" %}
                                    {% if project.Status < 3 %}
                                        <a href="{% url 'proposals:askdeleteproposal' project.id %}"
                                           class="button warning">Delete</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {# show edit buttons for projects of this year in lower timephases  #}
                                {% if phasenumber < 5 %}
                                    <a href="{% url 'proposals:details' project.id %}" class="button primary">View</a>
                                    {% if project|can_edit_project:user %}
                                        <a class="button primary" href="{% url 'proposals:edit' project.id %}">
                                            Edit data
                                        </a>
                                        {% if user|has_group:"type3staff" %}
                                            {% if project.Status < 3 %}
                                                <a href="{% url 'proposals:askdeleteproposal' project.id %}"
                                                   class="button warning">Delete</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {# projects of this year in phase 5 or later #}
                                {% else %}
                                    <ul>
                                        {% for dist in project.distributions.all %}
                                            <li>
                                                {{ dist.Student.usermeta.get_nice_name }}
                                                ({{ dist.Student.usermeta.Studentnumber }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                            {# show "copy" button for projects #}
                            {% if project.prevyear %}
                                <a class="button primary" href="{% url 'proposals:copy' project.id %}">
                                    Copy
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
{#                    <td>{{ project.TimeSlot|default:"Future" }}</td>#}
                    <td><a href="{% url 'proposals:details' project.id %}" class="capitalize">{{ project.Title }}</a>
                    </td>
                    <td>{{ project.Track }}</td>
                    <td>{{ project.Group }}</td>
                    <td>
                        <a href="mailto:{{ project.ResponsibleStaff.email }}">
                            {{ project.ResponsibleStaff.usermeta.get_nice_name }}
                        </a>
                    </td>
                    <td>
                        <ul>
                            {% for a in project.Assistants.all %}
                                <li><a href="mailto:{{ a.email }}">{{ a.usermeta.get_nice_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td data-sort="status{{ project.Status }}">{{ project.get_Status_display }}</td>
                    {% if private %}
                        <td>
                            <ul>
                                {% for a in project.Private.all %}
                                    <li><a href="mailto:{{ a.email }}">{{ a.usermeta.get_nice_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/websocketbridge.js" %}"></script>
    <script src="{% static "js/favorite.js" %}"></script>
    <script>
        $(document).ready(function () {
            // custom sort for favorite button, https://datatables.net/examples/plug-ins/dom_sort.html
            $.fn.dataTable.ext.order['dom-order-favorite'] = function (settings, col) {
                return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
                    return $('span', td).hasClass('mif-star-full') ? '1' : '0';
                });
            };
            // make cols array for datatables
            const l = $("table.datatable th").length;
            const cols = new Array(l);
            for (var i = 0; i < l; i++) {
                cols[i] = null;
            }
            // set first column to custom sort function
            cols[0] = {"orderDataType": "dom-order-favorite"};
            // call datatables with yadcf and the cols array.
            var dt = $('.datatable').dt_wrapper([
                    {column_number: 3, filter_type: "select", filter_match_mode: 'exact'},
                    {column_number: 4, filter_type: "select", filter_match_mode: 'exact'},
                    {column_number: 5, filter_type: "select", column_data_type: 'html'},  // to parse mailto links
                    {
                        column_number: 6,
                        filter_type: "select",
                        column_data_type: 'html',
                        html_data_type: 'selector',
                        html_data_selector: 'li'
                    }, //to parse ul-li
                    {column_number: 7, filter_type: "select"},
                ], cols
            );
            $(".columnToggle").click(function () {
                //reset width:
                $(".datatable").width("100%");
                // Get the column API object
                var columns = dt.columns("." + $(this).attr('id'));
                // Toggle the visibility
                if (columns.visible()[0]) {
                    columns.visible(false);
                    $(this).find("span").text("Show");
                } else {
                    columns.visible(true);
                    $(this).find("span").text("Hide")
                }
                //trigger resize event for double-scroll because table width has changed.
                $('.double-scroll').trigger('resize.doubleScroll');
            });

            //set default text for columns buttons, because datatables saves visibility in state.
            var but = $('a.columnToggle');
            but.each(function (i) {
                var vis = dt.columns("." + $(this).attr('id')).visible()[0];
                if (vis) {
                    $(this).find("span").text("Hide")
                } else {
                    $(this).find("span").text("Show")
                }
            })
        });
    </script>  {% endblock %}
