{% extends "base.html" %}
{% block body %}
    <h1>Proposal: {{ Proposal.Title }}</h1>
    {% autoescape off %}
        <p>{{ Message }}</p>
    {% endautoescape %}
    <p>
        {% if Proposal %}{# for in case this page is requested after a delete. #}
            <a href="{% url "proposals:addfile" 'i' Proposal.pk %}">
                <button class="button primary"><span class="mif-image"></span>Add image to proposal</button>
            </a>
            <a href="{% url "proposals:editfile" 'i' Proposal.pk %}">
                <button class="button primary"><span class="mif-images"></span>Edit images of this proposal</button>
            </a>
            <a href="{% url "proposals:addfile" 'a' Proposal.pk %}">
                <button class="button primary"><span class="mif-file-pdf"></span>Add attachment to proposal</button>
            </a>
            <a href="{% url "proposals:editfile" 'a' Proposal.pk %}">
                <button class="button primary"><span class="mif-file-pdf"></span>Edit attachments of this proposal
                </button>
            </a>
            <a href="{% url 'proposals:details' Proposal.pk %}">
                <button class="button primary">View this proposal</button>
            </a><br/>
        {% endif %}
        <a href="{% url 'proposals:chooseedit' %}">
            <button class="button primary"><span class="mif-list"></span>View all my proposals</button>
        </a>
    </p>
{% endblock %}