{% comment %}<span data-role="hint"
    data-hint-background="bg-gray"
    data-hint-color="fg-white"
    data-hint-mode="2"
    data-hint="Downgrade to status {{ Proposal.get_Status_display }}"
    data-hint-position="top"
>{% endcomment %}
{% if proposal.Status == 4 %}
<a href="{% url 'proposals:downgradestatusmessage' proposal.id %}" class="button danger">Unpublish</a>
{% else %}
<a href="{% url 'proposals:downgradestatusmessage' proposal.id %}" class="button danger">Downgrade to status {{ proposal.Status|add:"-1" }}</a>
{% endif %}
{# </span> #}