{% extends "base.html" %}
{% load custom_filters %}
{% block body %}
    {% if bodyhtml %}
        {% autoescape off %}
            {{ bodyhtml }}
        {% endautoescape %}
    {% else %}
        <h1>{% if usrsubject %}Visited by {{ usrsubject.get_full_name }}{% else %}Published proposals{% endif %}</h1>
        <table class="table datatable striped hovered">
            <thead>
            <tr>
                <th data-priority="1">Name<br/></th>
                <th>Track<br/></th>
                <th>Research group<br/></th>
                <th>Responsible staff<br/></th>
                <th>Supervisors / assistants<br/></th>
                <th>ECTS<br/></th>
                <th>URL<br/></th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr data-prop="{{ proposal.pk }}">
                    <td><a href="{% url 'proposals:details' proposal.id %}" class="capitalize">{{ proposal.Title }}</a>
                    </td>
                    <td>{{ proposal.Track }}</td>
                    <td>{{ proposal.Group }}</td>
                    <td>
                        <a href="mailto:{{ proposal.ResponsibleStaff.email }}">
                            {{ proposal.ResponsibleStaff.get_full_name }}
                        </a>
                    </td>
                    <td>
                        <ul class="no-margin">
                            {% for a in proposal.Assistants.all %}
                                <li><a href="mailto:{{ a.email }}">{{ a.get_full_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ proposal.ECTS }}</td>
                    <td>{% url 'proposals:details' proposal.id %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            var cols = [
                null, //name
                null, //track
                null, //group
                null, //responsible
                null, //assistants
                null,  //ECTS
                {
                    visible: false,      // URL: hide this column. It is only used for CSV/copy export functions
                    prependDomain: true, // custom setting: prepend the domain to make the url a full link
                }
            ];
            var dropdownColumns = [1, 2, 5];
            MPDataTable(cols, dropdownColumns);
        });


    </script>
{% endblock %}
