{% extends "base.html" %}
{% load custom_filters %}
{% block body %}
    {% if bodyhtml %}
        {% autoescape off %}
            {{ bodyhtml }}
        {% endautoescape %}
    {% else %}
        <h1>{% if usrsubject %}Visited by {{ usrsubject.get_full_name }}{% else %}Published proposals{% endif %}</h1>
        <div class="double-scroll">

            <table class="table datatable striped hovered">
                <thead>
                <tr>
                    <th data-priority="1">Name</th>
                    <th>Track</th>
                    <th>Research group</th>
                    <th>Responsible staff</th>
                    <th>Assistants</th>
                    <th data-visible='false'>URL</th>
                </tr>
                </thead>
                <tbody>
                {% for proposal in proposals %}
                    <tr data-prop="{{ proposal.pk }}">
                        <td><a href="{% url 'proposals:details' proposal.id %}"
                               class="capitalize">{{ proposal.Title }}</a>
                        </td>
                        <td>{{ proposal.Track }}</td>
                        <td>{{ proposal.Group }}</td>
                        <td>
                            <a href="mailto:{{ proposal.ResponsibleStaff.email }}">
                                {{ proposal.ResponsibleStaff.get_full_name }}
                            </a>
                        </td>
                        <td>
                            <ul class="no-margin">
                                {% for a in proposal.Assistants.all %}
                                    <li><a href="mailto:{{ a.email }}">{{ a.get_full_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ domain }}{% url 'proposals:details' proposal.id %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').dt_wrapper([
                    {column_number: 0, filter_type: "text"},
                    {column_number: 1, filter_type: "select"},
                    {column_number: 2, filter_type: "select"},
                    {column_number: 3, filter_type: "select", column_data_type: 'html'},  // to parse mailto links
                    {column_number: 4, filter_type: "select"}
                ]
            );
        });


    </script>
{% endblock %}
