{% extends "base.html" %}
{% load custom_filters %}
{% GetPhaseNumber as phasenumber %}
{% block body %}
{% if title %}
<h1>{{ title }}</h1>
{% elif user|has_group:'type3staff' %}
<h1>All Proposals</h1>
{% else %}
<h1>My Proposals</h1>
{% endif %}

    <table class="table datatable striped">
    <thead>
        <tr>
            <th>Timeslot<br /></th>
            <th data-priority="1">Name<br /></th>
            <th>Track<br /></th>
            <th>Group<br /></th>
            <th>Responsible staff<br /></th>
            <th>Assistant(s)<br /></th>
            <th>Status<br /></th>
        {% if private %}<th>Private to student</th>{% endif %}
            <th data-priority="2">{% if phasenumber < 5 %}Edit{% else %}Distributions{% endif %}<br/></th>
        </tr>
    </thead>
    <tbody>
{% for proposal in proposals %}
        <tr>
            <td>{{ proposal.TimeSlot|default:"Future" }}</td>
            <td><a href="{% url 'proposals:details' proposal.id %}" class="capitalize">{{ proposal.Title }}</a></td>
            <td>{{ proposal.Track }}</td>
        <td>{{ proposal.Group }}</td>
            <td>
                <a href="mailto:{{  proposal.ResponsibleStaff.email }}">
                    {{ proposal.ResponsibleStaff.get_full_name }}
                </a>
            </td>
            <td>
                <ul>
                {% for a in proposal.Assistants.all %}
                    <li><a href="mailto:{{ a.email }}">{{ a.get_full_name }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td data-sort="status{{ proposal.Status }}" data-search="status{{ proposal.Status }}">{{ proposal.get_Status_display }}</td>
        {% if private %}
            <td>
                <ul>
                {% for a in proposal.Private.all %}
                    <li><a href="mailto:{{ a.email }}">{{ a.get_full_name }}</a></li>
                {% endfor %}
                </ul>
            </td>
        {% endif %}
            <td>
            {# type3 can delete old proposals, no edit as history cannot be changed #}
            {% if proposal.prevyear %}
                {% if user|has_group:"type3staff"  %}
                    {% if proposal.Status < 3 %}
                        <a href="{% url 'proposals:askdeleteproposal' proposal.id %}" class="button warning"><span class="mif-bin"></span>Delete</a>
                    {% endif %}
                {% endif %}
            {% else %}
                {# show edit buttons for proposals of this year in lower timephases  #}
                {% if phasenumber < 5 %}
                    <a href="{% url 'proposals:details' proposal.id %}" class="button primary">View</a>
                    {% if phasenumber < 3 %}
                        {% if proposal.Status <= 2 or proposal.Track.Head == request.user and proposal.Status == 3 or user|has_group:"type3staff" and proposal.Status == 3 %}
                            <a class="button primary" href="{% url 'proposals:edit' proposal.id %}">
                                <span class="mif-pencil"></span>Edit data
                            </a>
                            {% if user|has_group:"type3staff"  %}
                                {% if proposal.Status < 3 %}
                                    <a href="{% url 'proposals:askdeleteproposal' proposal.id %}" class="button warning"><span class="mif-bin"></span>Delete</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {# Proposals of this year in phase 5 or later #}
                {% else %}
                    <ul>
                    {% for dist in proposal.distributions.all %}
                        <li>
                            {{ dist.Student.get_full_name }} ({{ dist.Student.usermeta.Studentnumber }})
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {# show "copy" button for proposals #}
            <a class="button primary" href="{% url 'proposals:copy' proposal.id %}">
                <span class="mif-versions"></span>Copy
            </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
{{ block.super }}
        <script type="text/javascript">
    $(document).ready(function() {
        var cols = [
                null, //timeslot
                null, //name
                null, //track
                null, //group
                null, //responsible
                null, //assistants
                null, //status, this column is only searchable using "status<n>" pattern.
            {% if private %} null, {% endif %}
                { "searchable": false }  //buttons / distributions
        ];
        var dropdownColumns = [0,1,2,3];
        MPDataTable(cols, dropdownColumns);
    });
    </script>  {% endblock %}