{% extends 'generic_stats.html' %}
{% block stat_header %}
    <h1>Project stats for {{ timeslot|default_if_none:'future' }}</h1>
    <div class="tabcontrol">
        <ul class="tabs">
            {% for ts in timeslots %}
                <li {% if ts == timeslot %}class="active"{% endif %}><a href="{% if ts == timeslot %}#{% else %}../{{ ts.pk }}{% endif %}">{{ ts }}</a></li>
            {% endfor %}
            <li {% if not timeslot %}class="active"{% endif %}><a href="{% if timeslot %}../future{% else %}#{% endif %}">Future</a></li>
        </ul>
    </div>
    <p>
        Showing {{ num }} projects.
        The minimum total capacity is {{ mincapacity }} students, the maximum total capacity is {{ maxcapacity }} students.
    </p>
{% endblock %}
