{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block body %}
    <h1>Proposal Statistics Report (General)</h1>
    {% if step == 0 %}
        <h2>Introduction</h2>
        Welcome to the statistics report of proposals. Here you can see a breakdown of statistics of all proposals. A
        general breakdown will be provided as well as the data for the top 10 proposals on the marketplace.<br/>
        The top 10 is calculated by sorting first by number of distributed students and than by number of total
        application for all ties.<br/>
        Please note that it is possible to have a large amount of applications but no distributed students. This means
        that those students were distributed to a project they had as a higher choice than yours.<br/>
        <br/>
        Visitor count is a "unique" count. This means that students are only at most counted once when they view your
        proposal. Staff members are not counted in this number.
        Please note that due to privacy concerns we do not publish the details of which students viewed your proposal.
        <br/>
        You can use the buttons on the bottom to navigate through the report.<br/>
        <br/>
        If you have any questions about the report do not hesitate to contact us at
        <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.<br/>
        Kind regards,<br/>
        The {{ NAME }} Team <br/>
        <a href="{% url 'proposals:statsgeneral' 1 %}" style="position:absolute;right:0;bottom:0;"
           class="button primary">Next</a>
    {% elif step == 1 %}
        <a class="button primary" style="left:0;" href="{% url 'proposals:statsgeneral' 0 %}">Previous</a>
        <a class="button primary" style="position:absolute;right:0;"
           href="{% url 'proposals:statsgeneral' 2 %}">Next</a>
        <h2>Overview proposals per group</h2>
        <div style="width:35%;float:left;">
            <canvas id="groupChart"></canvas>
        </div>
        <div style="width:50%;float:right;">
            <table class="table datatable hovered border bordered">
                <thead>
                <tr>
                    <th>Group</th>
                    <th>Num Proposals</th>
                </tr>
                </thead>
                <tbody>
                {% for g in groups %}
                    <tr>
                        <td>{{ g }}</td>
                        <td>{{ groupcount|index:forloop.counter0 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif step == 2 %}
        <a class="button primary" style="left:0;" href="{% url 'proposals:statsgeneral' 1 %}">Previous</a>
        <a class="button primary" style="position:absolute;right:0;"
           href="{% url 'proposals:statsgeneral' 3 %}">Next</a>
        <h2>Overview proposals per Track</h2>
        <div style="width:35%;float:left;">
            <canvas id="trackChart"></canvas>
        </div>
        <div style="width:50%;float:right;">
            <table class="table datatable hovered border bordered">
                <thead>
                <tr>
                    <th>Track</th>
                    <th>Num Proposals</th>
                </tr>
                </thead>
                <tbody>
                {% for t in tracks %}
                    <tr>
                        <td>{{ t }}</td>
                        <td>{{ trackcount|index:forloop.counter0 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif step == -1 %}
        You have reached the end of the  general statistics report of this year. We hope you enjoyed it!<br/>
        To see the results of your own proposals you can read your personal report
        <a href="{% url 'proposals:stats' %}">here</a>.<br/>
        We hope this data can be usesfull for writing future projects, if you have any questions about the data
        please do not hesitate to contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.<br/>
        <a href="{% url 'proposals:statsgeneral' %}" class="button primary">Read Again</a>
    {% else %}
        <a class="button primary" style="left:0;" href="{% url 'proposals:statsgeneral' step|add:"-1" %}">Previous</a>
        <a class="button primary" style="position:absolute;right:0;"
           href="{% url 'proposals:statsgeneral' step|add:"1" %}">Next</a>
        <h2>Number {{ step|add:"-2" }} of top 10</h2>
        <h3><a href="{% url 'proposals:details' prop.id %}">{{ prop.Title }}</a></h3>
        <div style="width:35%;float:left;">
            <canvas id="mydChart"></canvas>
        </div>
        <div style="float:right;width:50%;">
            Had total of <b>{{ visitors }}</b> unique student visitors.<br/>
            Was distributed <b>{{ distributed }}</b> student(s).
            <table class="table hovered border bordered">
                <thead>
                <tr>
                    <th>Student Pick</th>
                    <th>Count</th>
                </tr>
                </thead>
                {% for data in applications %}
                    <tr>
                        <td>{{ forloop.counter }} pick</td>
                        <td><b>{{ data }}</b></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script src="{% static "js/colors.js" %}"></script>
    <script>
        {% if step == 1 %}
            {% autoescape off %}
                new Chart($('#groupChart'), {
                    data: {
                        labels: {{ groups }},
                        datasets: [{
                            data: {{ groupcount }},
                            backgroundColor: kelly_colors
                        }]
                    },
                    type: 'polarArea',
                    options: {
                        legend: {
                            "position": "right"
                        }
                    }
                });
            {% endautoescape %}
        {% elif step == 2 %}
            {% autoescape off %}
                new Chart($("#trackChart"), {
                    data: {
                        labels: {{ tracks }},
                        datasets: [
                            {
                                data: {{ trackcount }},
                                backgroundColor: kelly_colors
                            }
                        ]
                    },
                    type: 'doughnut',
                    options: {
                        legend: {
                            "position": "right"
                        }
                    }
                });
            {% endautoescape %}
        {%  else %}
            new Chart($("#mydChart"), {
                data: {
                    labels: ["1st pick", "2nd pick", "3rd pick", "4th pick", "5th pick"],
                    datasets: [{
                        {% autoescape off %}
                            data: {{ applications }},
                        {% endautoescape %}
                        backgroundColor: [
                            "#FF6384",
                            "#4BC0C0",
                            "#FFCE56",
                            "#36A2EB"
                        ],
                    }]
                },
                type: 'doughnut',
                options: {
                    legend: {
                        "position": "right"
                    }

                }
            });
        {%  endif %}
        $(document).ready(function () {
            $('.datatable').dt_wrapper()
        });
    </script>
{% endblock %}
