{% extends 'generic_stats.html' %}
{% block stat_header %}
        <h1>Project stats</h1>
    {#    <div class="grid">#}
    {% for n, f in filters %}
        {% if f %}
        <a href="{% url 'proposals:stats' f %}"
           class="button {% if f == filter %}primary{% endif %}"><span></span>{{ n }}</a>
        {% else %}
            <a href="{% url 'proposals:stats' %}"
           class="button {% if f == filter %}primary{% endif %}"><span></span>{{ n }}</a>
        {% endif %}

    {% endfor %}
    <p>
        {% if filter %}
            Showing only data for visible projects.
        {% else %}
            Showing data of all projects.
        {% endif %}
    <br />
    Showing {{ num }} projects.
        The minimum total capacity is {{ mincapacity }} students, the maximum total capacity is {{ maxcapacity }} students.<br/>
    </p>
{% endblock %}
