{% extends "GenericForm.html" %}
{% block scripts %}
{{ block.super }}
    <script>
    $(document).ready(function() {
        $.get("{% url 'api:getgroupadmins' %}EES/", function(data) {
            if (data.length === 0)
            {
                $("#id_AdministrationMembers").select2("val", [""]);
            }
            else {
                $("#id_AdministrationMembers").select2("val", data);
                $("#id_AdministrationMembers").val(data).trigger('change');
            }
        });

        $("#id_Group").on("change", function () {
            //console.log($(this).val());
            $.get("{% url 'api:getgroupadmins' %}" + String($(this).val()), function(data) {
                if (data.length === 0)
                {
                    $("#id_AdministrationMembers").select2("val", [""]);
                }
                else {
                    $("#id_AdministrationMembers").val(data).trigger('change');
                }
            });
        });

    });
    </script>
{% endblock %}
