{% extends 'base.html' %}
{% block body %}
    <h1>Content Policy Violations</h1>
    <h2>Regex checks</h2>
    <table class="table bordered striped" id="regexviolationstable">
        <thead>
        <tr>
            <th>Location<br/></th>
            <th>proposal id<br/></th>
            <th>Policy<br/></th>
            <th>Start pos<br/></th>
            <th>Character<br/></th>
        </tr>
        </thead>
        <tbody>
        {% for violation in regexViolations %}
            <tr>
                <td>{{ violation.location }}</td>
                <td><a href="{% url 'proposals:details' violation.id %}">{{ violation.id }}</a></td>
                <td>{{ violation.policy }}</td>
                <td>{{ violation.start }}</td>
                <td>{{ violation.matchstring }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Diff checks</h2>
    <table class="table bordered striped" id="diffviolationstable">
        <thead>
        <tr>
            <th>Location<br/></th>
            <th>id 1<br/></th>
            <th>id 2<br/></th>
            <th>text 1<br/></th>
            <th>text 2<br/></th>
            <th>Ratio<br/></th>
        </tr>
        </thead>
        <tbody>
        {% for violation in diffViolations %}
            <tr>
                <td>{{ violation.location }}</td>
                <td><a href="{% url 'proposals:details' violation.id1 %}">{{ violation.id1 }}</a></td>
                <td><a href="{% url 'proposals:details' violation.id2 %}">{{ violation.id2 }}</a></td>
                <td>{{ violation.str1 }}</td>
                <td>{{ violation.str2 }}</td>
                <td>{{ violation.ratio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {

            var options1 = {
                "pageLength": 100,
                "columns": [
                    null, //location
                    null, //id
                    null, //policy
                    null, //start pos
                    null //matchstring
                ],
                initComplete: function () {
                    this.api().columns([0, 2]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            };

            var options2 = {
                "pageLength": 100,
                "columns": [
                    null, //location
                    null, //id1
                    null, //id2
                    null, //txt1
                    null, //txt2
                    null //ratio
                ],
                initComplete: function () {
                    this.api().columns([0]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            };
            $('#regexviolationstable').DataTable(options1);
            $('#diffviolationstable').DataTable(options2);
            //for datatables, do not sort the table when clicking a select.
            $("th>select").click(function () {
                return false;
            })
        });

    </script>

{% endblock %}