{% extends "base.html" %}
{% block body %}
    <h1>Confirm mailing:</h1>
    {% if template %}
        <a href="{% url "support:mailingtemplates" %}" class="button primary">View templates</a>

    {% endif %}
    <h3>Message</h3>
    <div class="panel">
        <div class="heading">
            <span class="title"><span class="mif-mail"></span>{{ NAME }} {{ mailing.Subject }}</span>
        </div>
        <div class="content padding5">
            {% include 'email/supportstaff_email.html' with name="-name-" message=mailing.Message subject=mailing.Subject %}
        </div>
    </div>
    <h3>Staff recipients</h3>
    {% if mailing.RecipientsStaff.exists %}
        <ul>
            {% for u in mailing.RecipientsStaff.all %}
                <li>{{ u.usermeta.get_nice_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        None
    {% endif %}
    <h3>Student recipients</h3>
    {% if mailing.RecipientsStudents.exists %}
        <ul>
            {% for u in mailing.RecipientsStudents.all %}
                <li>{{ u.usermeta.get_nice_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        None
    {% endif %}
    <h2>Confirm</h2>
    <form action="{% url 'support:mailingconfirm' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <table class="table" style="text-align:left;">
            {{ form.as_table }}
            <input type="hidden" name="mailingid" value='{{ mailing.id }}'>
            <tr>
                <td>
                    <button class="button success" type="submit">Send</button>
                </td>
                <td></td>
            </tr>
        </table>
    </form>

{% endblock %}
