{% extends 'GenericForm.html' %}
{% block formheader %}
    <p>
    Changing a track name will change it everywhere, also in old projects. Tracks can only be removed if it is not referenced by any object, so all projects of a track have to be removed or changed before removing a track.
    The automatic distribution system can give automotive students a priority on automotive projects. For this, the track for automotive needs to match the name 'Automotive' with shortname 'AU'.
    </p>
{% endblock %}
