{% extends "base.html" %}
{% block body %}
    <h1>Download History</h1>
    <p>Download excel exports and handed in professional skills from previous years. To download exports of the current year, please use the regular menu entries.</p>
    <p>Non-full projects are all projects with less distributions than the max-number of students.</p>
    <p>For proposal downloads of this year, see <a href="{%  url 'proposals:exports' %}">proposal exports</a></p>
    <table class="table striped hovered">
        <thead>
        <tr>
            <th>TimeSlot</th>
            <th>Stats</th>
            <th data-searchable="false" data-sortable="false">Exports</th>
            <th data-searchable="false" data-sortable="false">Downloads</th>
        </tr>
        </thead>
        <tbody>
        {% for timeslot in timeslots %}
            <tr>
                <td>{{ timeslot }}</td>
                <td>
                    <ul>
                        <li>Projects: {{ timeslot.proposals.count }}</li>
                        <li>Students: {{ timeslot.users.count }}</li>
                        <li>Distributions: {{ timeslot.distributions.count }}</li>
                    </ul>
                </td>
                <td>
                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'distributions' %}">Distributions</a>
{#                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'students' %}">Students & Grades</a>#}
                    <a href="{% url "students:liststudents_xls" timeslot.pk %}" class="button primary">Students & Grades</a>

                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'presentations' %}">Presentations</a>
                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'nonfull' %}">Non-full projects</a>
                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'projects' %}">All public projects</a>
                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'publicfiles' %}">Public Files</a>
                    <a class="button primary" href="{% url 'support:history_download' timeslot.pk 'results' %}">Results (pdf)</a>
                </td>
                <td>
                <a href="{% url "students:download_files" timeslot.pk %}" class="button primary">Download all student files</a>
                <ul>
                    {% for filetype in timeslot.filetypes.all %}
                        <li>
                        <a href="{% url 'professionalskills:downloadall' filetype.id %}" class="button primary">Download {{ filetype }}</a>
                        <a href="{% url 'professionalskills:filetype_export' filetype.id %}" class="button primary">XLSX {{ filetype }}</a>
                        </li>
                    {% endfor %}
                </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}
