{% extends "base.html" %}
{% load custom_filters %}
{% block body %}
    <h1>List all staff</h1>
    <h3>Only type1 and type2 staff, responsible staff and assistants.</h3>
    <a href="{% url "support:liststaffXls" %}" class="button primary">Export Excel</a>
    <table class="table datatable striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th data-searchable="false" data-sortable="false">Proposals</th>
            <th data-searchable="false">Proposals total</th>
            <th data-searchable="false" data-sortable="false">Students</th>
            <th data-searchable="false">Students total</th>
            <th data-searchable="false" data-sortable="false">Show</th>
        </tr>
        </thead>
        <tbody>
        {% for u in staff %}
            <tr>
                {#  se.append([s, pt1, pt2, pts, dt1, dt2, dts])  #}
                <td><a href="mailto:{{ u.user.email }}">{{ u.user.first_name }} {{ u.user.last_name }}</a></td>
                <td>
                    {% if u.user|has_group:'type1staff' %}
                        type 1 staff
                    {% endif %}
                    {% if u.user|has_group:'type2staff' %}
                        type 2 staff
                    {% endif %}
                    {% if u.user|has_group:'type2staffunverified' %}
                        type 2 staff (unverified)
                    {% endif %}
                </td>
                <td>
                    Responsible: {{ u.pt1 }}<br/>
                    Assistant: {{ u.pt2 }}
                </td>
                <td>
                    {{ u.pts }}
                </td>
                <td>
                    Responsible: {{ u.dt1 }}<br/>
                    Assistant: {{ u.dt2 }}
                </td>
                <td>
                    {{ u.dts }}
                </td>
                <td><a href="{% url "support:liststaffproposals" u.user.id %}" class="button primary">show proposals</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var dt = $('.datatable').dt_wrapper([
                    {column_number: 0, filter_type: "text"},
                    {column_number: 1, filter_type: "select"},
                    {
                        column_number: 6,
                        filter_type: "select",
                        column_data_type: 'html',
                        html_data_type: 'selector',
                        html_data_selector: 'li'
                    }, //to parse ul-li, timeslots
                ]
            );
            {#var cols = [#}
            {#    null, //name#}
            {#    null, //type#}
            {#    {"searchable": false, "sortable": false}, //proposals both#}
            {#    null, //proposals#}
            {#    {"searchable": false, "sortable": false},  //distribution both#}
            {#    null, //distribution#}
            {#    {"searchable": false, "sortable": false} //button#}
            {#];#}
            {#var dropdownColumns = [1];#}
            {#MPDataTable(cols, dropdownColumns);#}
        })
    </script>
{% endblock %}
