{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block body %}
    <h1>Download non full proposals</h1>
    <table class="table bordered hovered">
        <thead>
        <tr>
            <th>TimeSlot</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
        {%  for t in timeslots %}
        <tr>
            <td>{{ t.Name }}</td>
            <td><a class="button primary" href="{% url 'support:listnonfullprojectsxlsx' t.pk %}">Download</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
