{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block body %}
    <h1>Marketplace Statistics Overview</h1>
    There are currently {{ proposalcount }} proposals entered and {{ usercount }} useraccounts registered.
    {{ privatecount }} proposals are private to one or more students.<br/>
    <table class="table">
    <tr><td>
        <h4>Breakdown per status:</h4>
        <div style="width:35%;float:left;">
            <canvas id="statusChart"></canvas>
        </div>
        <div style="width:50%;float:right;">
        <table class="table striped hovered bordered" style="width:40%;">
            <thead>
            <tr>
                <th>Status</th>
                <th>Number of proposals</th>
            </tr>
            </thead>
            <tbody>
            {% for count in statuscount %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </td></tr>
    <tr><td>
        <h4>Breakdown per group:</h4>
        <div style="width:35%;float:left;">
            <canvas id="groupChart"></canvas>
        </div>
        <div style="width:50%;float:right;">
        <table class="table striped hovered bordered" style="width:40%;">
            <thead>
            <tr>
                <th>Group</th>
                <th>Number of proposals</th>
            </tr>
            </thead>
            <tbody>
            {% for group, count in groupcount.items %}
                <tr>
                    <td>{{ group }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </td></tr>
    <tr><td>
        <h4>Breakdown per track:</h4>
        <div style="width:35%;float:left;">
            <canvas id="trackChart"></canvas>
        </div>
        <div style="width:50%;float:right;">
        <table class="table striped hovered bordered" style="width:40%;">
            <thead>
            <tr>
                <th>Track</th>
                <th>Number of proposals</th>
            </tr>
            </thead>
            <tbody>
            {% for track, count in trackcount.items %}
                <tr>
                    <td>{{ track }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </td></tr>
    </table>

{% endblock %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script src="{% static "js/colors.js"%}"></script>
    <script>
        {% autoescape off %}
        new Chart($('#statusChart'), {
            data : {
                labels : [1, 2, 3, 4],
                datasets : [{
                    data: {{ statuscount }},
                    backgroundColor: kelly_colors,
                }]
            },
            type : 'bar',
            options : {
                legend : {
                    position : "off"
                },
                scales : {
                    yAxes : [{
                        ticks: {
                            beginAtZero : true
                        }}],
                },
            }
        });

        new Chart($('#groupChart'), {
           data: {
               labels : {{ groupcount.keys|tolist }},
               datasets : [{
                   data : {{ groupcount.values|tolist }},
                   backgroundColor: kelly_colors,
               }]
           },
            type :'polarArea',
            options : {
                legend : {
                    "position" : "right"
                }
            }
        });

        new Chart($('#trackChart'), {
           data: {
               labels : {{ trackcount.keys|tolist }},
               datasets : [{
                   data : {{ trackcount.values|tolist }},
                   backgroundColor: kelly_colors,
               }]
           },
            type :'bar',
            options : {
                legend : {
                    "position" : "off"
                },
                scales : {
                    yAxes : [{
                        ticks: {
                            beginAtZero : true
                        }}],
                },
            }
        });

        {% endautoescape %}
    </script>

{% endblock %}