{% extends 'base.html' %}

{% block body %}
    <h1>All Osiris Data</h1>
    <a href="{% url 'osirisdata:upload' %}" class="button primary">Upload new</a>
    <a href="{% url 'osirisdata:tometa' %}" class="button primary">Write to User Meta</a>

    {% if log %}
    <p>Read errors:</p>
    <ul>{{ log|unordered_list }}</ul>
    {% endif %}
    <table class="table bordered striped hovered datatable">
        <thead>
        <tr>
            <th>Email</th>
            <th>ID number</th>
            <th>Cohort</th>
            <th>ECTS</th>
            <th>Automotive</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.email }}</td>
                <td>{{ person.idnumber }}</td>
                <td>{{ person.cohort }}</td>
                <td>{{ person.ects }}</td>
                <td data-sort="{{ person.automotive }}"><span class="mif-{{ person.automotive|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.datatable').dt_wrapper([
            ]);
        });
    </script>
{% endblock %}
