{% extends "base.html" %}
{% block body %}
    <h1>Current Active Sessions</h1>
    <div class="double-scroll">
        <table class="table bordered striped hovered datatable">

            <thead>
            <tr>
                <td>User<br/></td>
                <td>Time Login</td>
                <td>Actions<br/></td>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="mailto:{{ user.user.email }}">{{ user.user.usermeta.Fullname }}
                        ({{ user.user.username }})</a></td>
                    <td data-sort="{{ user.lastlogin.Timestamp|date:"U" }}">{{ user.lastlogin.Timestamp|date:'H:i d-m-Y' }}</td>
                    <td><a href="{% url 'godpowers:killsession' user.user.id %}" class="button primary">Kill</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').dt_wrapper([
                {column_number: 0, filter_type: "multi_select", column_data_type: 'html'},
            ]);
        });
    </script>
{% endblock %}