[Unit]
Description=daphne service to run marketplace
After=network.target
After=postgresql.service
After=nginx.service

[Service]
Type=simple
RuntimeDirectory=daphne
PIDFile=/run/daphne/pid
User=django
Group=django
Environment=OAUTHLIB_INSECURE_TRANSPORT=1
WorkingDirectory=/home/django/BepMarketplaceELE
ExecStart=/home/django/bepmarketplaceenv/bin/daphne -u /tmp/daphne.sock BepMarketplace.asgi:application
ExecStop=/bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target
