{% extends "base.html" %}
{% load custom_filters %}
{% load staticfiles %}
{% GetPhaseNumber as phasenumber %}
{% block stylesheets %}
    <style>
        ul.studentList {
            margin: 0;
            background-color: grey;
            min-height: 20px;
            user-select: none; /*disable text selection*/
        }

        li.student {
            list-style: none;
        }

        li.student > div.button {
            width: 100%;
            text-align: left;
        }

    </style>

{% endblock %}
{% block scripts %}

    {{ block.super }}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    {% csrf_token %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        //error notify
        function studentError(jqthis) {
            var errorNotify = {
                caption: 'Server error',
                content: 'Please refresh this page (F5) or contact system administrator',
                icon: "<span class='mif-warning'></span>",
                type: "alert"
            };
            jqthis.find(".studentLinkIcon").removeClass("mif-link").addClass("mif-warning");
            jqthis.find(".studentApplicationPriority").show().text("-2");
            $.Notify(errorNotify)
        }
        function showNotify(data, icon) {
            $.Notify({
                caption: data.type.charAt(0).toUpperCase() + data.type.slice(1),
                content: data.txt,
                icon: "<span class=\"" + (data.type === 'success' ? 'mif-' + icon : 'mif-warning') + "\"></span>",
                type: data.type
            });
        }
        //check whether nr of students needed matches nrof studnets distributed
        function checkNoStudents(proposalNum, row) {
            var label = row.find(".NrOfStudents");
            var icon = label.find(".NrOfStudentsIcon");
            var nr = row.find(".chosenStudents>ul>li").length;
            if (nr === 0) { //no icon
                icon.removeClass("mif-checkmark fg-green mif-vertical-align-top fg-red mif-vertical-align-bottom fg-orange");
            } else {
                var min = label.data("min");
                var max = label.data("max");
                if (nr < min) {
                    icon.removeClass("mif-checkmark fg-green mif-vertical-align-top fg-red").addClass("mif-vertical-align-bottom fg-orange");
                } else if (nr > max) {
                    icon.removeClass("mif-checkmark fg-green mif-vertical-align-bottom fg-orange").addClass("mif-vertical-align-top fg-red");
                } else { //enough
                    icon.removeClass("mif-vertical-align-bottom fg-orange mif-vertical-align-top fg-red").addClass("mif-checkmark fg-green");
                }
            }
        }

        //make the all studentslists sortable/dragable.
        $("ul.studentList").sortable({
            connectWith: "ul.studentList",
            placeholder: "", /*here any custom classes for a just-before-drop UL can be defined*/
            receive: function (event, ui) {
                var jqthis = $(this);
                var from = $(ui.sender).data('students-list');
                var to = jqthis.data('students-list');
                var student = $(ui.item).attr("id");
                if (from === "distributedStudents") { //from distributed
                    var propFrom = $(ui.sender).data('proposal');
                    if (to === "distributedStudents") {
                        var propTo = jqthis.data('proposal');
                        //change distribution
                        $.post("{% url 'distributions:changedistribute' %}", {
                            student: student,
                            propFrom: propFrom,
                            propTo: propTo
                        }, function (data) {
                            showNotify(data, 'link');
                            //update link icon and prio
                            if (data.type == 'success') {
                                //remove from previous prop link icon
                                var rowFrom = $(ui.sender).parent().parent();
                                var rowTo = jqthis.parent().parent();
                                //update datatable cache
                                dt.rows(rowFrom).invalidate();
                                dt.rows(rowTo).invalidate();
                                rowFrom.find(".applicationChosenLinkIcon[data-student='" + student + "']").removeClass("mif-link");
                                if (data.prio > 0) {
                                    ui.item.find(".studentApplicationPriority").text(data.prio);
                                    //link icon on interested students for this Proposal
                                    rowTo.find(".applicationChosenLinkIcon[data-student='" + student + "']").addClass("mif-link")
                                } else {
                                    ui.item.find(".studentApplicationPriority").text("-");
                                }
                            } else {
                                jqthis.find(".studentLinkIcon").removeClass("mif-link").addClass("mif-warning");
                                jqthis.find(".studentApplicationPriority").show().text("-2");
                            }
                            checkNoStudents(propFrom, rowFrom);
                            checkNoStudents(propTo, rowTo);
                        }, "json")
                            .fail(function () {
                                studentError(jqthis);
                            });
                    } else if (to == "availableStudents") {
                        //undistribute
                        $.post("{% url 'distributions:undistribute' %}", {
                            student: student,
                            propFrom: propFrom
                        }, function (data) {
                            showNotify(data, 'unlink');
                            //update link icon and prio
                            if (data.type == 'success') {
                                //remove from previous prop link icon
                                var rowFrom = $(ui.sender).parent().parent();
                                dt.rows(rowFrom).invalidate();
                                rowFrom.find(".applicationChosenLinkIcon[data-student='" + student + "']").removeClass("mif-link");
                                jqthis.find(".studentApplicationPriority").hide();
                                jqthis.find(".studentLinkIcon").removeClass("mif-link").addClass("mif-unlink");
                            } else {
                                jqthis.find(".studentLinkIcon").removeClass("mif-link").addClass("mif-warning");
                                jqthis.find(".studentApplicationPriority").text("-2");
                            }
                            checkNoStudents(propFrom, rowFrom);
                        }, "json")
                            .fail(function () {
                                studentError(jqthis);
                            });
                    }
                } else if (from === "availableStudents") { //from available
                    if (to === "distributedStudents") {
                        var propTo = $(this).data('proposal');
                        //distribute
                        $.post("{% url 'distributions:distribute' %}", {student: student, propTo: propTo}, function (data) {
                            showNotify(data, 'link');
                            //update link icon and prio
                            if (data.type == 'success') {
                                var rowTo = jqthis.parent().parent();
                                //update datatable cache
                                dt.rows(rowTo).invalidate();
                                if (data.prio > 0) {
                                    ui.item.find(".studentApplicationPriority").show().text(data.prio);
                                    //link icon on interested students for this Proposal
                                    rowTo.find(".applicationChosenLinkIcon[data-student='" + student + "']").addClass("mif-link")
                                } else {
                                    ui.item.find(".studentApplicationPriority").show().text("-");
                                }
                                ui.item.find(".studentLinkIcon").removeClass("mif-unlink").addClass("mif-link");
                            } else {
                                jqthis.find(".studentLinkIcon").removeClass("mif-link").addClass("mif-warning");
                                jqthis.find(".studentApplicationPriority").text("-2");
                            }
                            checkNoStudents(propTo, rowTo);
                        }, "json")
                            .fail(function () {
                                studentError(jqthis);
                            });
                    } else if (to == "availableStudents") {
                        //nothing done
                        alert("Noting done")
                    } else {
                        window.alert("ERROR 2, This should not happen!")
                    }
                } else {
                    window.alert("ERROR 1, This should not happen!")
                }
                //window.alert("id: "+ $(ui.item).attr("id") +" | from: "+$(ui.sender).attr('id')+" prop: "+$(ui.sender).data('Proposal')+" | to: "+$(this).attr('id')+" prop: "+$(this).data('Proposal'));
                dt.draw() //refresh datatable
            }
        });

        //live search for proposals, using datatables jquery.
        $(document).ready(function () {
            //hide sidebar, more space for the table
            $("#cellSidebar").css("display", "none");
            $("#cellContent").removeClass("colspan4").addClass("colspan5");

            var cols = [
                null, //name
                null, //trac
                null, //group
                null, //responsible
                {"searchable": false}, //nrof students
                null, //interested
                null //chosen
            ];
            var dropdownColumns = [1, 2, 3];
            MPDataTable(cols, dropdownColumns);

            //hide application prio on undistributed students
            $("li#availableStudents").each(function () {
                $(this).find(".studentApplicationPriority").hide()
            });


            $('#student-search-box').on('change input', function () {
                var searchTerm = $(this).val().toLowerCase();
                $('li#availableStudents').each(function () {
                    if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            //live search for students
            /* $('#availableStudents li').each(function(){
             $(this).attr('data-search-term', $(this).text().toLowerCase());
             });*/


        });
        //search if student is clicked
        $(".application-student-click, .private-student-click, .distributed-student-click").click(function (data) {
            var std = $(this).data("student");
            //dt is the global variable holding the datatable
            dt.search(std).draw()
        })
    </script>
{% endblock %}

{% block body %}
    <h1>Distribute proposals</h1>
    <div class="row cells4 padding5">
        <div class="cell colspan3">
            {% include "distributions/Support_include_table.html" with distribute=True %}
        </div>
        <div class="cell bg-grayLight padding5">
            <h2>Available students</h2>
            <input id="student-search-box" style="width:99%" type="text" placeholder="Search student"/>
            <button id="students-show-all" style="width:40%" onclick="$('#student-search-box').val('').change()">Show
                all
            </button>
            <ul class="studentList no-padding-left" data-students-list="availableStudents" id="availableStudents">
                {% for student in undistributedStudents %}
                    {% include "distributions/Support_include_studentBlock.html" with distribute=False %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}