{% load students_tags %}

{# used as inclusion in other files #}

{# a draggable 'button' with a Student. Code snippet used in manual distribute and app/dist list. #}
{# Data-search-term are all things that the Student search box searches for, should be all lower case #}
<li class="student" id="stdid-{{ student.pk }}"
    data-search-term="{{ student.usermeta.get_nice_name | lower }} {{ student.usermeta.get_nice_fullname | lower }} {{ student.username | lower }} {{ student.usermeta.Studentnumber }}">
    <div class="button primary">
        {#  Tooltip with all applications of Student, dictsorted by Priority, displayed as ordered list.#}
        <span data-role="hint"
              data-hint-background="bg-grayLight"
              data-hint-position="right"
              data-hint-color="fg-black"
              data-hint-mode="2"
              data-hint="Interested in:|<ul class='no-padding-left' style='list-style:none'>

                      {#  the tag warning span, is only for double-checking that the list order is correct. It prints the Priority which should be equal to its index number. #}
                    {% for application in student|get_applications %}
                        <li><span class='tag info'> {{ application.Priority }}</span><span> {{ application.Proposal.Title }}</span></li>
                    {% endfor %}</ul>
    ECTS: {{ student.usermeta.ECTS|default:0 }}<br />Cohort: {{ student.usermeta.Cohort|default:'-' }}">
        {# text visible on the button of the Student #}

            {# display a Priority if this Student is currently on a Proposal (so this Student block is actually an application)#}
            <span class="icon mif-{% if dist %}link{% else %}unlink{% endif %} studentLinkIcon"></span>
            <span class='tag info studentApplicationPriority'>
                {% if dist %}
                    {% if dist.Application %}
                        {{ dist.Application.Priority }}
                    {% else %}
                        -
                    {% endif %}
                {% endif %}
            </span>
            {% if "automotive" in student.usermeta.Study|lower %}
                <span class="icon mif-automobile"></span>
            {% endif %}
            {{ student.usermeta.get_nice_fullname }}
        </span>
    </div>
</li>
