{% extends 'base.html' %}
{% load students_tags %}
{% block body %}
    <h1>List of students with random distribution</h1>
    <p>Students with random distribution are students distributed to a project that they did not apply for.</p>
    <a href="{% url "distributions:deleterandoms" %}" class="button danger">Undistribute all random distributions</a>

    <table class="table bordered hovered striped" id="disttable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Cohort</th>
            <th>ECTS</th>
            <th>Project</th>
            <th>Applications</th>
        </tr>
        </thead>
        <tbody>
        {% for dist in distributions %}
            <tr>
                <td><a href="mailto:{{ dist.Student.email }}">{{ dist.Student.usermeta.get_nice_name }}</a></td>
                <td>{{ dist.Student.usermeta.Cohort }}</td>
                <td>{{ dist.Student.usermeta.ECTS }}</td>
                <td><a href="{% url "proposals:details" dist.Proposal.pk %}">{{ dist.Proposal.Title }}</a></td>
                <td>
                    <ul>
                        {% for application in dist.Student|get_applications %}
                            <li><span class='tag info'> {{ application.Priority }}</span><span> {{ application.Proposal.Title }}</span></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>List of students with applications, without project</h1>
    <p>
        These students did apply to a project but did not get one assigned (yet).
    </p>

    <table class="table bordered hovered striped" id="undisttable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Cohort</th>
            <th>ECTS</th>
            <th>Applications</th>
        </tr>
        </thead>
        <tbody>
        {% for std in no_dist %}
            <tr>
                <td><a href="mailto:{{ std.email }}">{{ std.usermeta.get_nice_name }}</a></td>
                <td>{{ std.usermeta.Cohort }}</td>
                <td>{{ std.usermeta.ECTS }}</td>
                <td>
                    <ul>
                        {% for application in std|get_applications %}
                            <li><span class='tag info'> {{ application.Priority }}</span><span> {{ application.Proposal.Title }}</span></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>List of of non full projects</h1>
    <p>Projects with less distribution than maximum number of students. Scroll to the bottom to get a plain list of all sharelinks of these projects.</p>
    <table class="table bordered hovered striped" id="propstable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Responsible Teacher</th>
            <th>Max Students</th>
            <th>Current Students</th>
            <th>Sharelink</th>

        </tr>
        </thead>
        <tbody>
        {% for prop, lnk in proposals %}
            <tr>
                <td><a href="{% url "proposals:details" prop.pk %}">{{ prop.Title }}</a></td>
                <td>{{ prop.ResponsibleStaff.usermeta.get_nice_name }}</td>
                <td>{{ prop.NumStudentsMax }}</td>
                <td>{{ prop.num_distr }}</td>
                <td><a href="{{ lnk }}">{{ lnk }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Share Links</h1>
    <div style="border:1px solid black; height:500px; overflow:scroll;">
        {% for prop, lnk in proposals %}
            {{ prop.Title }} - {{ lnk }}<br/>
        {% endfor %}

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#disttable').DataTable({"pageLength": 50});
            $('#undisttable').DataTable({"pageLength": 50});
            var dt = $('#propstable').dt_wrapper([
                    {column_number: 1, filter_type: "text"},
                ]
            );

        });

    </script>
{% endblock %}
