{% extends "base.html" %}
{% block body %}
    {% if timeslot %}
        <h1>Projects and applications for {{ timeslot }}</h1>
    {% else %}
        {% if phasenumber < 6 %}
            <h1>Proposals with applications and distributions</h1>
        {% else %}
            <h1>Projects and their distributions</h1>
        {% endif %}
        <a href="{% url "distributions:SupportListDistributionsXls" %}" class="button primary">Export Excel</a>
        {% if phasenumber == 4 or phasenumber == 5 %}
            <a href="{% url 'distributions:maildistributions' %}" class="button warning">Mail distributions to students</a>
        {% endif %}
    {% endif %}
    <div class="double-scroll"> {# only in this view use doublescroll, not in distribute view. #}
        {% if timeslot %}
            {% include "distributions/inc_dist_table.html" with phasenumber=3 %}
        {% else %}
            {% include "distributions/inc_dist_table.html" %}
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        //live search for proposals, using datatables jquery.
        $(document).ready(function () {
            var dt = $('.datatable').dt_wrapper([
                    {column_number: 0, filter_type: "text"},        //name
                    {column_number: 1, filter_type: "select", filter_match_mode: 'exact'},      //track
                    {column_number: 2, filter_type: "select", filter_match_mode: 'exact'},      //group
                    {column_number: 3, filter_type: "select", column_data_type: 'html'},  //responsible
                    {% if phasenumber < 6 or timeslot %}
                        {#{column_number: 4, filter_type: "number", html5_data: 'data-search'},  maybe range input later on.#}
                        {
                            column_number: 5,
                            filter_type: "select",
                            column_data_type: 'html',
                            html_data_type: 'selector',
                            html_data_selector: 'span.studentName'
                        }, //to parse ul-li, interested students.
                    {% else %}
                        {
                            column_number: 4,
                            filter_type: "select",
                            column_data_type: 'html',
                            html_data_type: 'selector',
                            html_data_selector: 'li'
                        }, //to parse ul-li, assistants
                    {% endif %}
                ]
            );

            //search if student is clicked
            $(".application-student-click, .private-student-click, .distributed-student-click").click(function (data) {
                var std = $(this).data("student");
                //dt is the variable holding the datatable
                dt.search(std).draw()
            })
        });
    </script>
{% endblock %}

