<table class="table bordered datatable" id="proposalTable">
    <thead>
    <tr>
        <th data-priority="1">Title</th>
        <th>Track</th>
        <th>Research group</th>
        <th data-priority="3">Reponsible staff</th>
        {% if phasenumber < 6 %}
            <th data-searchable="false">Nr of std.</th>
            <th>Interested students</th>
        {% else %}
            <th>Assistants</th>
        {% endif %}
        <th data-priority="2">Chosen student</th>
    </tr>
    </thead>
    <tbody>
    {% for proposal in proposals %}
        <tr>
            <td><a href="{% url 'proposals:details' proposal.id %}">{{ proposal.Title }}</a></td>
            <td>{{ proposal.Track }}</td>
            <td>{{ proposal.Group }}</td>
            <td>
                <a href="mailto:{{ proposal.ResponsibleStaff.email }}">{{ proposal.ResponsibleStaff.usermeta.get_nice_name }}</a>
            </td>
            {% if phasenumber < 6 %}
                <td data-sort="{{ proposal.NumstudentsMin }}">
                                    <span class="NrOfStudents" data-min="{{ proposal.NumstudentsMin }}"
                                          data-max="{{ proposal.NumstudentsMax }}">
                                        {# icon #}
                                        {% if proposal.distributions.all|length == 0 %}
                                            <span class="NrOfStudentsIcon"></span>
                                        {% elif proposal.distributions.all|length < proposal.NumstudentsMin %}
                                            <span class="NrOfStudentsIcon fg-orange mif-vertical-align-bottom"></span>
                                        {% elif proposal.distributions.all|length > proposal.NumstudentsMax %}
                                            <span class="NrOfStudentsIcon fg-red mif-vertical-align-top"></span>
                                        {% else %}
                                            <span class="NrOfStudentsIcon fg-green mif-checkmark"></span>
                                        {% endif %}
                                        {# text #}
                                        {% if proposal.NumstudentsMin == proposal.NumstudentsMax %}
                                            {{ proposal.NumstudentsMax }}
                                        {% else %}
                                            {{ proposal.NumstudentsMin }} - {{ proposal.NumstudentsMax }}
                                        {% endif %}
                                    </span>
                </td>
                <td>{# interested students #}
                    <ul class="no-margin">
                        {% for application in proposal.applications.all|dictsort:"Priority" %}
                            <li class="application-student-click clickable"
                                data-student="{{ application.Student.usermeta.Fullname }}">
                                {# The list of students that has applied to this Proposal. #}
                                {# if this Student is chosen for this Proposal (this is db-heavy..) #}
                                <span class="{% if application.distributions in proposal.distributions.all %} icon mif-link {% endif %} applicationChosenLinkIcon"
                                      data-student="{{ application.Student.pk }}"></span>
                                <span class="tag info">{{ application.Priority }}</span>
                                {% if "automotive" in application.Student.usermeta.Study|lower %}
                                    <span class="icon mif-automobile"></span>
                                {% endif %}
                                <span class="studentName">{{ application.Student.usermeta.Fullname }}</span>
                            </li>
                        {% endfor %}
                        {% for privstd in proposal.Private.all %}
                            <li class="private-student-click clickable"
                                data-student="{{ privstd.usermeta.Fullname }}">
                                <span class="{% if privstd.distributions in proposal.distributions.all %} icon mif-link {% endif %} applicationChosenLinkIcon"
                                      data-student="{{ privstd.pk }}"></span>
                                <span class="tag info">Private</span>
                                <span class="studentName">{{ privstd.usermeta.Fullname }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            {% else %}
                <td>
                    <ul>
                        {% for assistant in proposal.Assistants.all %}
                            <li><a href="mailto:{{ assistant.email }}">{{ assistant.usermeta.get_nice_name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            {% endif %}
            <td class="chosenStudents">
                <ul class="studentList no-padding-left bg-grey" data-students-list="distributedStudents"
                    data-proposal="{{ proposal.pk }}">
                    {% if distribute %}{# for distribute #}
                        {% for dist in proposal.distributions.all %}
                            {% include "support/../distributions/Support_include_studentBlock.html" with student=dist.Student dist=dist only %}
                        {% endfor %}
                        {% else %}{# for list #}
                        {% for dist in proposal.distributions.all %}
                            {% with student=dist.Student %}
                                <li class="distributed-student-click clickable"
                                    data-student="{{ student.usermeta.Fullname }}">
                                                <span class='tag info studentApplicationPriority'>
                                                    {% if dist %}
                                                        {% if dist.Application %}
                                                            {{ dist.Application.Priority }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                    {% if "automotive" in student.usermeta.Study|lower %}
                                        <span class="icon mif-automobile"></span>
                                    {% endif %}
                                    <span class="studentName">{{ student.usermeta.Fullname }}</span>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
