{% extends "base.html" %}
{% block body %}
    <h1>Users Log</h1>
    <table class="table bordered striped hovered datatable">
        <thead>
        <tr>
            <th>User</th>
            <th data-searchable="false">Timestamp</th>
            <th data-searchable="false" data-orderable="false">Telemtry</th>
        </tr>
        </thead>
        <tbody>
        {% for log in userlogs %}
            <tr>
                <td><a href="mailto:{{ log.Subject.email }}">{{ log.Subject.usermeta.get_nice_name }}</a></td>
                <td data-sort="{{ log.Timestamp|date:"U" }}">{{ log.Timestamp }}</td>
                <td><a href="{% url 'tracking:userdetail' log.Subject.id %}" class="button primary">Telemetry</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.datatable').dt_wrapper([
                {column_number: 0, filter_type: "select", column_data_type: "html"},
            ]);
        });
    </script>
{% endblock %}
