{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <h1>Live View Marketplace</h1>
    <div style="border:1px solid black; height:500px; overflow:scroll;" id="liveview"></div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>

    <script>
        $(document).ready(function () {
            const webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect('/tracking/live/');
            webSocketBridge.socket.onmessage = function(event) {
                document.getElementById('liveview').insertAdjacentHTML('afterbegin', event.data + "<br/>");
            }
        });
    </script>
{% endblock %}
