{% extends 'base.html' %}
{% block body %}
    <h1>Live View Marketplace</h1>
    <div style="border:1px solid black; height:500px; overflow:scroll;" id="liveview"></div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            if (window.location.protocol == "https:") {
                window.socket = new WebSocket("wss://" + window.location.host + "/tracking/live/");
            }
            else {
                window.socket = new WebSocket("ws://" + window.location.host + "/tracking/live/");
            }
            window.socket.onmessage = function (e) {
                console.log(e.data);
                //var info = JSON.parse(e.data);
                document.getElementById('liveview').insertAdjacentHTML('afterbegin', e.data + "<br/>");
            };
        });
    </script>
{% endblock %}