{% extends "templates/base.html" %}
{% load custom_filters %}
{% block body %}
    <h1>Students ECTS</h1>
    <table class="table datatable striped hovered">
        <thead>
        <tr>
            <th data-priority="1">Fullname</th>
            <th>First name</th>
            <th>ID number</th>
            <th>Cohort</th>
            <th data-priority="2">ECTS</th>
        </tr>
        </thead>
        <tbody>
        {% for s in students %}
            <tr>
                <td><a href="mailto:{{ s.email }}">{{ s.usermeta.Fullname }}</a></td>
                <td>{{ s.first_name }}</td>
                <td>{{ s.usermeta.Studentnumber }}</td>
                <td>{{ s.usermeta.Cohort }}</td>
                <td data-sort="{{ s.usermeta.ECTS }}">
                    <input class="input-ects" data-student="{{ s.id }}" type="number"
                           name="{{ s.id }}" value="{{ s.usermeta.ECTS }}" step="1"
                           min="0" max="300"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            var cols = [
                null, //name
                null, //fn
                null, //snr
                null, //idnr
                null, //ects
            ];
            var dropdownColumns = [];
            MPDataTable(cols, dropdownColumns);


            if (window.location.protocol == "https:") {
                window.socket = new WebSocket("wss://" + window.location.host + "/support/ectssubmit/");
            }
            else {
                window.socket = new WebSocket("ws://" + window.location.host + "/support/ectssubmit/");
            }

            window.socket.onmessage = function (e) {
                var data = JSON.parse(e.data);
                $.Notify({
                    caption: data.student,
                    content: data.info + (data.type == "alert" ? " Please refresh the page (f5)" : ''),
                    type: data.type
                });
            };
            $('.input-ects').on("input", function () {
                var data = JSON.stringify({
                    'std': parseInt(this.getAttribute("data-student")),
                    'ects': parseInt(this.value)
                });
                window.socket.send(data);
            });
            var displayError = function () {
                $.Dialog({
                    title: "Please refresh your page",
                    content: "The connection to the server failed, please refresh this page (f5). If that doesn't help, contact the support staff.",
                    options: {
                        type: "alert"
                    }
                });
            };
            window.socket.onclose = function () {
                displayError()
            };
            window.socket.onerror = function () {
                displayError()
            };

        });
    </script>
{% endblock %}
