{% extends "templates/base.html" %}
{% load custom_filters %}
{% block body %}
    {% if bodyhtml %}
        {% autoescape off %}
            {{ bodyhtml }}
        {% endautoescape %}
    {% else %}
        <h1>Students on Oase and Marketplace</h1>
        <a href="{% url 'support:clearcacheallstudentslist' %}" class="button warning">Clear Cache</a>
        <table class="table bordered hovered striped datatable">
            <thead>
            <tr>
                <th>Fullname<br/></th>
                <th>Firstname<br/></th>
                <th>s number<br/></th>
                <th>ID number<br/></th>
                <th>Department<br/></th>
                <th>Study<br/></th>
                <th>Cohort<br/></th>
                <th>Oase BEP<br/></th>
                <th>Oase Ext<br/></th>
                <th>Marketplace<br/></th>
            </tr>
            </thead>
            <tbody>
            {% for s in students %}
                <tr>
                    <td><a href="mailto:{{ s.email }}">{{ s.fullname }}</a></td>
                    <td>{{ s.firstname }}</td>
                    <td>{{ s.snumber }}</td>
                    <td>{{ s.studentnumber }}</td>
                    <td>{{ s.department }}</td>
                    <td>{{ s.study }}</td>
                    <td>{{ s.cohort }}</td>
                    <td data-sort="{{ s.oaseBEP }}"><span
                            class="mif-{{ s.oaseBEP|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
                    <td data-sort="{{ s.oaseExt }}"><span
                            class="mif-{{ s.oaseExt|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
                    <td data-sort="{{ s.MP.last_login|date:"U" }}"><span
                            class="mif-{{ s.MP|yesno:"checkmark fg-green,cross fg-red" }}"></span> {{ s.MP.last_login|date:'H:i d-m-Y' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var cols = [
                null, //Fullname</th>
                null, //Firstname</th>
                null, //s number</th>
                null, //ID number</th>
                null, //Department</th>
                null, //Study</th>
                null,  //Cohort</th>
                null,  //Oase BEP</th>
                null,  //Oase Ext</th>
                null  //marketplace
            ];
            var dropdownColumns = [4, 5, 6];
            MPDataTable(cols, dropdownColumns);
        });
    </script>
{% endblock %}
